body{background:#252525;text-align:center;font-family:Verdana, Geneva, sans-serif;font-size:10px;}
#contenedor{background:#f9f9f9;width:1008px;border: solid 1px #ddd;text-align:center;margin-left:auto;margin-right:auto;}
#head_m{background:#252525;width:100%;height:12px;border-bottom:solid 0px #ddd;float:left;}
#head_ss{background:#080808;width:100%;height:25px;border-bottom:solid 0px #ddd;float:left;}
#head{background:#f9f9f9;width:100%;height:60px;border-bottom:solid 3px #151515;float:left;}
#body{background:#f9f9f9;width:100%;height:auto;border: solid 0px #ddd;clear:both;text-align:justify;}

h1{font-family:Verdana, Geneva, sans-serif;font-size:14px;color:#333;font-weight:bold;margin-left:10px;border-bottom:solid 0px #ddd;margin-bottom:2px;}
#great{width:990px;background:#fff;height:auto;font-family:Verdana, Geneva, sans-serif;font-size:9px;color:#666;margin-left:10px;margin-top:15px;float:left;clear:both;border:solid 1px #ddd;}
#great .subtitulo{background-image:url(images/hgeneral.jpg);background-repeat:no-repeat;height:auto;color:#FFF;font-size:18px;font-weight:normal;margin-left:10px;margin-top:10px;margin-right:10px;}
#great .subtitulo p{margin-top:0px;margin-bottom:0px;margin-left:35px;color:#F90;}

#great .bleft{width:28%;height:auto;float:left;line-height:9px;margin-left:10px;margin-top:10px;margin-bottom:10px;}
#great .bleft p{margin-left:10px;}
#great .bcen{width:49%;height:auto;float:left;line-height:9px;margin-top:10px;margin-bottom:10px;border: solid #ddd 1px; border-top:0px;border-bottom:0px;}
#great .bcen p{margin-left:10px;}
#great .bder{width:19%;height:auto;float:left;line-height:9px;margin-top:10px;margin-bottom:10px;}
#great .bder p{margin-left:10px;}

#left{background:#fff;color:#f9f9f9;width:24%;float:left;border: solid 0px #ccc;border-left:0px;margin-top:0px;margin-left:0px;height:auto;}
.left_box{background:#f9f9f9;color:#f9f9f9;width:95%;float:left;border: solid 1px #ccc;border-left:0px;margin-top:0px;margin-left:5px;}



#der{background:#f9f9f9;border: solid 1px #ccc;margin-left:15px;width:74%;float:left;margin-top:5px;}
#pie{background:#151515;width:1010px;height:90px;color:#656565;clear:both;text-align:center;margin-top:15px;}
a.boxl:link{display:block;float:none;text-decoration: none;color:#757575;
	background-color:#f9f9f9;padding:13px 5px;border: 0px solid #ddd;border-left:0px; 
	border-top:0px;font-size:10pt;font-family:Verdana, Arial, Helvetica, sans-serif;
	background-image:url(images/menu_r.jpg);background-repeat:repeat-x;background-position:bottom}
	
	a.boxl:visited{display:block;float:none;text-decoration: none;color:#757575;
	background-color:#f9f9f9;padding:13px 5px;border: 0px solid #ddd;border-left:0px; 
	border-top:0px;font-size:10pt;font-family:Verdana, Arial, Helvetica, sans-serif;
	background-image:url(images/menu_r.jpg);background-repeat:repeat-x;background-position:bottom}
	
	a.boxl:active{display:block;float:none;text-decoration: none;color:#757575;
	background-color:#f9f9f9;padding:13px 5px;border: 0px solid #ddd;border-left:0px; 
	border-top:0px;	font-size:10pt;font-family:Verdana, Arial, Helvetica, sans-serif;
	background-image:url(images/menu_r.jpg);background-repeat:repeat-x;background-position:bottom}

	a.boxl:hover{float:none;background-color:#eee;color:#454545;font-family:Verdana, Arial, Helvetica, sans-serif;
	background-image:url(images/menu_r2.jpg);background-repeat:repeat-x;background-position:bottom }


 
	a.sitemap:link{display:block;float:none;text-decoration: none;color:#757575;background-color:#f9f9f9;font-family:Verdana, Geneva, sans-serif;}
	a.sitemap:visited{display:block;float:none;text-decoration: none;color:#757575;background-color:#f9f9f9;font-family:Verdana, Geneva, sans-serif;}
	a.sitemap:active{display:block;float:none;text-decoration: none;color:#757575;background-color:#f9f9f9;font-family:Verdana, Geneva, sans-serif;}
	a.sitemap:hover{text-decoration:none;float:none;color:#353535;background-color:#eee;font-family:Verdana, Arial, Helvetica, sans-serif;}