body{background-color:#f9f9f9;text-align:center;margin:0px;background-image:url(fond.jpg);background-position:bottom center;background-repeat:no-repeat;}
#contenedor{background:none;width:798px;height:auto;border:0px solid #ddd;text-align:center;margin-left:auto;margin-right:auto;margin-bottom:10px;}

#menusup{background-color:#f9f9f9;background-image:url(head.jpg);width:798px;height:100px;text-align:right;background-repeat:no-repeat;margin:0px;border:solid 1px #ddd;border-bottom:0px;}

.menusupp{background-color:#f3f3f3; background-image:url(menu1.jpg);width:389px;height:26px;color:#103a7a;float:right;font-family:verdana;font-size:10px;color:#757575;}

#menu{background:#f9f9f9;width:798px;height:auto;text-align:right;float:left;border: solid 1px #ddd; border-top:0px;border-bottom:0px;}
.menud{background:none;width:auto;height:50px;color:#103a7a;float:right;margin:0px 4px;}

#head{background-color:#454545;width:798px;height:260px;background-image:url(#.jpg);float:left;border:solid 0px #ddd;}

#body{background-color:#fff;width:798px;height:auto;float:left;font-family:Verdana, Geneva, sans-serif;font-size:10px;color:#757575;border:solid 1px #e7e7e7;border-top:0px;border-bottom:0px;}

#izq{background-color:#fff;width:256px;height:160px;float:left;margin: 10px 4px;text-align:left;}
.izq_b{background-color:#f9f9f9;background-image:url(box_tickets.jpg);width:256px;height:156px;padding:0px;color:#f2f2f2;background-repeat:no-repeat;}

#cen{background-color:none;width:256px;height:160px;float:left;margin: 10px 4px;text-align:justify;}
.cen_b{background-color:#f9f9f9;background-image:url(box_b.jpg);width:256px;height:156px;}

#der{background-color:#fff;width:256px;height:160px;float:left;margin: 10px 4px;text-align:left;}
.der_b{background-color:#f9f9f9;background-image:url(box_izq.jpg);width:256px;height:156px;}

a.vuelos:link{text-decoration:none;color:#2D3F60;margin-left:10px;margin-top:7px;margin-bottom:0px;font-size:11px;}
a.vuelos:active{text-decoration:none;color:#2D3F60;margin-left:10px;margin-top:7px;margin-bottom:0px;font-size:11px;}
a.vuelos:visited{text-decoration:none;color:#2D3F60;margin-left:10px;margin-top:7px;margin-bottom:0px;font-size:11px;}
a.vuelos:hover{text-decoration:none;color:#2D3F60;margin-left:10px;margin-top:7px;margin-bottom:0px;font-size:11px;}

a.enlac:link{text-decoration:none;color:#2D3F60;margin-left:4px;margin-top:7px;margin-bottom:0px;font-size:10px;}
a.enlac:active{text-decoration:none;color:#2D3F60;margin-left:4px;margin-top:7px;margin-bottom:0px;font-size:10px;}
a.enlac:visited{text-decoration:none;color:#2D3F60;margin-left:4px;margin-top:7px;margin-bottom:0px;font-size:10px;}
a.enlac:hover{text-decoration:none;color:#2D3F60;margin-left:4px;margin-top:7px;margin-bottom:0px;font-size:10px;}

#contenedorbox{background:#fff;width:791px;height:auto;border:solid 0px #ddd;}
#pie{background-color:none;width:798px;height:45px;clear:both;}
