body{text-align:center;font-family:Verdana, Geneva, sans-serif;font-size:10px;background-color:#f8f8f8;background-image: url(../../esp/bgall3.jpg);}
#contenedor{width:1010px;border: solid 1px #ddd;text-align:center;margin-left:auto;margin-right:auto;background-color:#f8f8f8;}
#head_m{background:#252525;width:100%;height:12px;border-bottom:solid 1px #ddd;float:left;}
#head_ss{background:#080808;width:100%;height:25px;border-bottom:solid 0px #ddd;float:left;}
#head{width:100%;height:115px;float:left;background-color:#f2f2f2;}
#body{width:100%;height:auto;border: solid 0px #ddd;clear:both;text-align:justify;}

.lefttext{width:95%;float:left;margin-left:50px;} /*width:696px;*/
.rightimg{width:308px;float:left;}
.subs{font-size:12px;font-family:Verdana, Geneva, sans-serif;font-weight:bold;margin-bottom:8px;color:#369;}
ul {font-size:10px;font-family:Verdana, Geneva, sans-serif; list-style-type:none; }
ul li{ list-style-image:url(../../eng/images/map-site-vinieta.png); list-style-type:circle;line-height:20px;color:#454545;}
.vineta {font-size:12px;font-family:Verdana, Geneva, sans-serif;font-weight:bold;margin-bottom:8px;color:#437d8e;margin-left:20px;}
#menu{width:100%;height:55px;float:left;text-align:left;border-bottom:1px solid #ddd;background-color:#f2f2f2;}
#menu p{margin-left:25px;font-family:Verdana, Geneva, sans-serif;font-size:11px;color:#666;}

#menu a:link{display:block;text-decoration:none;font-family:Verdana, Geneva, sans-serif;font-size:11px;color:#888;width:88px;
background-image:url(images/menu-sitemaap.png);background-repeat:no-repeat;height:36px;float:left;padding:5px 0px 0px 15px;}
#menu a:visited{display:block;text-decoration:none;font-family:Verdana, Geneva, sans-serif;font-size:11px;color:#888;width:88px;
background-image:url(images/menu-sitemaap.png);background-repeat:no-repeat;height:36px;float:left;padding:5px 0px 0px 15px;}
#menu a:hover{display:block;text-decoration:none;font-family:Verdana, Geneva, sans-serif;font-size:11px;color:#888;width:88px;
background-image:url(images/menu-sitemap.png);background-repeat:no-repeat;height:36px;float:left;padding:5px 0px 0px 15px;}
#menu a:active{display:block;text-decoration:none;font-family:Verdana, Geneva, sans-serif;font-size:11px;color:#888;width:88px;
background-image:url(images/menu-sitemap.png);background-repeat:no-repeat;height:36px;float:left;padding:5px 0px 0px 15px;}


#menu a.menup:link{display:block;text-decoration:none;font-family:Verdana, Geneva, sans-serif;font-size:11px;color:#888;width:88px;
background-image:url(images/menu-sitemap.png);background-repeat:no-repeat;height:36px;float:left;padding:5px 0px 0px 15px;}
#menu a.menup:visited{display:block;text-decoration:none;font-family:Verdana, Geneva, sans-serif;font-size:11px;color:#888;width:88px;
background-image:url(images/menu-sitemap.png);background-repeat:no-repeat;height:36px;float:left;padding:5px 0px 0px 15px;}
#menu a.menup:hover{display:block;text-decoration:none;font-family:Verdana, Geneva, sans-serif;font-size:11px;color:#888;width:88px;
background-image:url(images/menu-sitemap.png);background-repeat:no-repeat;height:36px;float:left;padding:5px 0px 0px 15px;}
#menu a.menup:active{display:block;text-decoration:none;font-family:Verdana, Geneva, sans-serif;font-size:11px;color:#888;width:88px;
background-image:url(images/menu-sitemap.png);background-repeat:no-repeat;height:36px;float:left;padding:5px 0px 0px 15px;}



#left{background:#151515;color:#f9f9f9;width:29%;float:left;border: solid 0px #ccc;border-left:0px;margin-top:0px;margin-left:0px;height:auto;}
.left_box{background:#f9f9f9;color:#f9f9f9;width:95%;float:left;border: solid 1px #ccc;border-left:0px;margin-top:0px;margin-left:5px;}
.nametitle{border-bottom:#ccc 1px solid;font-size:17px;font-family:Verdana, Geneva, sans-serif;color:#444;}
#center{border: solid 0px #ccc;margin-left:0px;width:1010px;float:left;margin-top:0px; }
#pie{background-image:url(images/fondo-piae.png);width:100%;height:95px;color:#f9f9f9;clear:both;text-align:center;margin-top:0px;bottom:0;background-color:#f2f2f2;background-position:top;border-top:1px #ddd solid;}
#pie p{color:#333;}
a.boxl:link{display:block;float:none;text-decoration: none;color:#757575;
	background-color:#f9f9f9;padding:13px 5px;border: 0px solid #ddd;border-left:0px; 
	border-top:0px;font-size:10pt;font-family:Verdana, Arial, Helvetica, sans-serif;
	background-image:url(images/menu_r.jpg);background-repeat:repeat-x;background-position:bottom}
	
	a.boxl:visited{display:block;float:none;text-decoration: none;color:#757575;
	background-color:#f9f9f9;padding:13px 5px;border: 0px solid #ddd;border-left:0px; 
	border-top:0px;font-size:10pt;font-family:Verdana, Arial, Helvetica, sans-serif;
	background-image:url(images/menu_r.jpg);background-repeat:repeat-x;background-position:bottom}
	
	a.boxl:active{display:block;float:none;text-decoration: none;color:#757575;
	background-color:#f9f9f9;padding:13px 5px;border: 0px solid #ddd;border-left:0px; 
	border-top:0px;	font-size:10pt;font-family:Verdana, Arial, Helvetica, sans-serif;
	background-image:url(images/menu_r.jpg);background-repeat:repeat-x;background-position:bottom}

	a.boxl:hover{float:none;background-color:#eee;color:#454545;font-family:Verdana, Arial, Helvetica, sans-serif;
	background-image:url(images/menu_r2.jpg);background-repeat:repeat-x;background-position:bottom }

	a.sitemap:link{display:block;float:none;text-decoration: none;color:#757575;font-family:Verdana, Geneva, sans-serif;}
	a.sitemap:visited{display:block;float:none;text-decoration: none;color:#757575;font-family:Verdana, Geneva, sans-serif;}
	a.sitemap:active{display:block;float:none;text-decoration: none;color:#757575;font-family:Verdana, Geneva, sans-serif;}
	a.sitemap:hover{text-decoration:none;float:none;color:#353535;font-family:Verdana, Arial, Helvetica, sans-serif;}
	
	
 
	
	a.piemenu:link{text-decoration: none;color:#656565;font-family:Verdana, Geneva, sans-serif;}
	a.piemenu:visited{text-decoration: none;color:#656565;font-family:Verdana, Geneva, sans-serif;}
	a.piemenu:active{text-decoration: none;color:#656565;font-family:Verdana, Geneva, sans-serif;}
	a.piemenu:hover{text-decoration:none;color:#454545;font-family:Verdana, Arial, Helvetica, sans-serif;}

	a.sitemp:link{float:none;text-decoration: none;color:#8da0b1; font-family:Verdana, Geneva, sans-serif; width:70%; border-bottom:solid 0px #f2f2f2; }
	a.sitemp:visited{float:none;text-decoration: none;color:#8da0b1; font-family:Verdana, Geneva, sans-serif; width:70%; border-bottom:solid 0px #f2f2f2;}
	a.sitemp:active{float:none;text-decoration: none;color:#8da0b1; font-family:Verdana, Geneva, sans-serif; width:70%; border-bottom:solid 0px #f2f2f2;}
	a.sitemp:hover{float:none;text-decoration: none;color:#C60; font-family:Verdana, Geneva, sans-serif; width:70%;border-bottom:solid 0px #e5e5e5;}
	
	a.sitempa:link{float:none;text-decoration: none;color:#C60; font-family:Verdana, Geneva, sans-serif; width:70%; border-bottom:solid 0px #f2f2f2; }
	a.sitempa:visited{float:none;text-decoration: none;color:#C60; font-family:Verdana, Geneva, sans-serif; width:70%; border-bottom:solid 0px #f2f2f2;}
	a.sitempa:active{float:none;text-decoration: none;color:#C60; font-family:Verdana, Geneva, sans-serif; width:70%; border-bottom:solid 0px #f2f2f2;}
	a.sitempa:hover{float:none;text-decoration: none;color:#C60; font-family:Verdana, Geneva, sans-serif; width:70%;border-bottom:solid 0px #e5e5e5;}
	
	
	a.sitebus:link{float:none;text-decoration: none;color:#9f9c8f; font-family:Verdana, Geneva, sans-serif; width:70%; border-bottom:solid 0px #f2f2f2; }
	a.sitebus:visited{float:none;text-decoration: none;color:#9f9c8f; font-family:Verdana, Geneva, sans-serif; width:70%; border-bottom:solid 0px #f2f2f2;}
	a.sitebus:active{float:none;text-decoration: none;color:#9f9c8f; font-family:Verdana, Geneva, sans-serif; width:70%; border-bottom:solid 0px #f2f2f2;}
	a.sitebus:hover{float:none;text-decoration: none;color:#C60; font-family:Verdana, Geneva, sans-serif; width:70%;border-bottom:solid 0px #e5e5e5;}