

a:hover {
	position: relative;
}

a span {
	display: none;
	color:#666;
	width:320px;
	height:20px;
}

a:hover span {
	display: block;
   	position: absolute; top: 0px; left: 0;
	/* formatting only styles */
   	padding: 6px 4px 1px 5px; margin: 0px 0px 15px 400px; z-index: 100; 
	background-color:#eee;
   /*	background: #f5f5f5;*/
	/*background-image:url(images/tooltip2.png);*/
	/*background-repeat:no-repeat;*/
	  border: 1px solid #e5e5e5; 
	border-left: solid 1px #e5e5e5;
	border-right: solid 1px #ddd;
	border-top: solid 1px #e5e5e5;
	border-bottom: solid 1px #ddd;
	line-height:12px; font-size:9px;font-family:Verdana, Geneva, sans-serif;
	opacity: 1.0;
	color:#252525;}
	/* end formatting */

 