body{background-color:#f8f8f8;font-family:Verdana, Geneva, sans-serif;font-size:10px;background-image:url("../eng/images/bg.jpg");background-repeat:repeat-x;}
#contenedor{width:1010px;border: solid 0px #ddd;margin-left:auto;margin-right:auto;margin-top:-10px;}

#head{width:100%;height:135px;float:left;margin-top:-10px;background-image:url(../eng/images/logo-mystery-peru.png);background-position:center top; background-repeat:no-repeat;}
#body{width:100%;height:auto;border: solid 0px #ddd;clear:both;text-align:justify;}
img{border:0px;text-decoration:none;}

.lefttext{width:100%;float:left;} /*width:696px;*/
.rightimg{width:308px;float:left;}
.subs{font-size:12px;font-family:Verdana, Geneva, sans-serif;font-weight:bold;margin-bottom:8px;color:#369;}
ul {font-size:10px;font-family:Verdana, Geneva, sans-serif; list-style-type:none; }
ul li{ list-style-image:url(../../eng/images/map-site-vinieta.png); list-style-type:circle;line-height:20px;color:#454545;}
.vineta {font-size:12px;font-family:Verdana, Geneva, sans-serif;font-weight:bold;margin-bottom:8px;color:#369;margin-left:20px;}

#left{background:#151515;color:#f9f9f9;width:29%;float:left;border: solid 0px #ccc;border-left:0px;margin-top:0px;margin-left:0px;height:auto;}
.left_box{background:#f9f9f9;color:#f9f9f9;width:95%;float:left;border: solid 1px #ccc;border-left:0px;margin-top:0px;margin-left:5px;}
.nametitle{border-bottom:#ccc 1px solid;font-size:17px;font-family:Verdana, Geneva, sans-serif;color:#444;}
#center{border: solid 0px #ccc;margin-left:0px;width:1010px;float:left;margin-top:0px;padding-top:20px; height:580px;}

#center .boxfirst{width:200px; height:220px;border: solid 0px #999;float:left;margin:50px 22px 10px 38px;}
#center .boxsecond{width:200px; height:220px;border: solid 0px #999;float:left;margin:50px 22px 10px 22px;}

#pie{width:1010px;height:110px;color:#656565;clear:both;text-align:center;margin-top:0px;}

a.boxl:link{display:block;float:none;text-decoration: none;color:#757575;
	background-color:#f9f9f9;padding:13px 5px;border: 0px solid #ddd;border-left:0px; 
	border-top:0px;font-size:10pt;font-family:Verdana, Arial, Helvetica, sans-serif;
	background-image:url(images/menu_r.jpg);background-repeat:repeat-x;background-position:bottom}
	
	a.boxl:visited{display:block;float:none;text-decoration: none;color:#757575;
	background-color:#f9f9f9;padding:13px 5px;border: 0px solid #ddd;border-left:0px; 
	border-top:0px;font-size:10pt;font-family:Verdana, Arial, Helvetica, sans-serif;
	background-image:url(images/menu_r.jpg);background-repeat:repeat-x;background-position:bottom}
	
	a.boxl:active{display:block;float:none;text-decoration: none;color:#757575;
	background-color:#f9f9f9;padding:13px 5px;border: 0px solid #ddd;border-left:0px; 
	border-top:0px;	font-size:10pt;font-family:Verdana, Arial, Helvetica, sans-serif;
	background-image:url(images/menu_r.jpg);background-repeat:repeat-x;background-position:bottom}

	a.boxl:hover{float:none;background-color:#eee;color:#454545;font-family:Verdana, Arial, Helvetica, sans-serif;
	background-image:url(images/menu_r2.jpg);background-repeat:repeat-x;background-position:bottom }

	a.sitemap:link{display:block;float:none;text-decoration: none;color:#757575;font-family:Verdana, Geneva, sans-serif;}
	a.sitemap:visited{display:block;float:none;text-decoration: none;color:#757575;font-family:Verdana, Geneva, sans-serif;}
	a.sitemap:active{display:block;float:none;text-decoration: none;color:#757575;font-family:Verdana, Geneva, sans-serif;}
	a.sitemap:hover{text-decoration:none;float:none;color:#353535;font-family:Verdana, Arial, Helvetica, sans-serif;}
	
	a.sitemp:link{float:none;text-decoration: none;color:#757575; font-family:Verdana, Geneva, sans-serif; width:70%; border-bottom:solid 0px #f2f2f2; }
	a.sitemp:visited{float:none;text-decoration: none;color:#757575; font-family:Verdana, Geneva, sans-serif; width:70%; border-bottom:solid 0px #f2f2f2;}
	a.sitemp:active{float:none;text-decoration: none;color:#757575; font-family:Verdana, Geneva, sans-serif; width:70%; border-bottom:solid 0px #f2f2f2;}
	a.sitemp:hover{float:none;text-decoration: none;color:#353535; font-family:Verdana, Geneva, sans-serif; width:70%;border-bottom:solid 0px #e5e5e5;}
	
	
	