/*a.pack:link{text-decoration:none;background:none url(a_point.jpg);background-repeat:no-repeat;background-position:left;width:120px;
font-family:verdana;font-size:10px;color:#333333;float:left;margin-top:6px;}
a.pack:active{text-decoration:none;background:none url(a_point.jpg);background-repeat:no-repeat;background-position:left;width:120px;
font-family:verdana;font-size:10px;color:#333333;float:left;margin-top:6px;}
a.pack:visited{text-decoration:none;background:none url(a_point.jpg);background-repeat:no-repeat;background-position:left;width:120px;
font-family:verdana;font-size:10px;color:#333333;float:left;margin-top:6px;}
a.pack:hover{text-decoration:none;background:none url(a_point_a.jpg);background-repeat:no-repeat;background-position:left;width:120px;
font-family:verdana;font-size:10px;color:#454545;float:left;margin-top:6px;}
*/

a.enlac:link{width:200px;height:30px;text-decoration:none;background:#660000 url(a_link_galerias.jpg);text-transform:uppercase;font-family:verdana;font-size:10px;color:#f9f9f9;font-weight:bold;margin-top:5px;}
a.enlac:active{width:200px;height:30px;text-decoration:none;background:#660000 url(a_link_galerias.jpg);text-transform:uppercase;font-family:verdana;font-size:10px;color:#f9f9f9;font-weight:bold;margin-top:5px;}
a.enlac:visited{width:200px;height:30px;text-decoration:none;background:#660000 url(a_link_galerias.jpg);text-transform:uppercase;font-family:verdana;font-size:10px;color:#f9f9f9;font-weight:bold;margin-top:5px;}
a.enlac:hover{width:200px;height:30px;text-decoration:none;background:#660000 url(a_link_galerias.jpg);text-transform:uppercase;font-family:verdana;font-size:10px;color:#f9f9f9;font-weight:bold;margin-top:5px;}

a.linkspack:link{text-decoration:none;border: solid 0px #fff;}
a.linkspack:active{text-decoration:none;border: solid 0px #fff;}
a.linkspack:visited{text-decoration:none;border: solid 0px #fff;}
a.linkspack:hover{text-decoration:none;border: solid 0px #fff;}


a.galeriaf:link{text-decoration:none;color:#ffcc00;margin-left:400px;margin-top:5px;margin-bottom:0px;}
a.galeriaf:active{text-decoration:none;color:#ffcc00;margin-left:400px;margin-top:5px;margin-bottom:0px;}
a.galeriaf:visited{text-decoration:none;color:#ffcc00;margin-left:400px;margin-top:5px;margin-bottom:0px;}
a.galeriaf:hover{text-decoration:none;color:#ffbb00;margin-left:400px;margin-top:5px;margin-bottom:0px;}


a.seemored:link{text-decoration:none;color:#f9f9f9;margin-left:15px;margin-top:0px;margin-bottom:0px;}
a.seemored:active{text-decoration:none;color:#f9f9f9;margin-left:15px;margin-top:0px;margin-bottom:0px;}
a.seemored:visited{text-decoration:none;color:#f9f9f9;margin-left:15px;margin-top:0px;margin-bottom:0px;}
a.seemored:hover{text-decoration:none;color:#ffbb00;margin-left:15px;margin-top:0px;margin-bottom:0px;}

 
.boximg{color:#fff;background:#f9f9f9 url(box.jpg);border: double 0px #ddd;height:95px;width:90px;float:left;margin:4px 3px;}

a.imgm:visited{text-decoration:none;color:#454545;background:none;}
a.imgm:active{text-decoration:none;color:#454545;background:none;}
a.imgm:link{text-decoration:none;color:#454545;background:none;}
a.imgm:hover{text-decoration:none;color:#454545;background:none;}

.boximga{color:#fff;background:#f9f9f9 url(box_fotos.jpg);border: double 0px #ddd;height:168px;width:216px;float:left;margin:5px 3px 5px 3px;}

#content{background:#f9f9f9;width:790px;height:auto;text-align:center;margin:0px;}