@charset "utf-8";
/* CSS Document */
body{background:#f2f2f2;background-image:url(../images/background.jpg);background-position:top;margin-top:0px;}
#contenedor{background-color:#f9f9f9;width:1020px;height:auto;border:solid 1px #e5e5e5;background-position:center;margin-left:auto;margin-right:auto;border-top:0px;border-bottom:0px;padding-top:10px;padding-bottom:10px;}
#headfirst{background-color:#f9f9f9;width:1000px;height:83px;border:solid 0px #f2f2f2;background-image:url(../../10/css/images/head_ptg01.jpg);margin-left:10px;margin-right:10px;}

#headsecond{background-color:#f9f9f9;width:998px;height:40px;border:solid 1px #ccc;background-image:url(../../10/css/images/head_ptg02.jpg);margin-left:10px;margin-right:10px;border-top:0px;border-bottom:0px;}

a.menutop:link{float:left;text-decoration:none;color:#f9f9f9;padding:10px 12px;font-size:8pt;font-family:Verdana;width:auto;}
a.menutop:visited{float:left;text-decoration:none;background-color:#6c8419;color:#f9f9f9;padding:10px 12px;font-size:8pt;font-family:Verdana;width:auto;}
a.menutop:active{float:left;text-decoration:none;color:#f9f9f9;padding:10px 12px; font-size:8pt;font-family:Verdana;width:auto;}
a.menutop:hover{background-color:#5b7d12;color:#fff;font-family:Verdana, Arial, Helvetica, sans-serif;  }

a.menusecond:link{float:left;text-decoration:none;color:#656565;padding:10px 10px;font-size:9pt;font-family:Verdana;width:auto;font-weight:bold;}
a.menusecond:visited{float:left;text-decoration:none;background-color:#f2f2f2;color:#656565;padding:10px 10px;font-size:9pt;font-family:Verdana;width:auto;font-weight:bold;}
a.menusecond:active{float:left;text-decoration:none;color:#656565;padding:10px 10px;font-size:9pt;font-family:Verdana;width:auto;font-weight:bold;}
a.menusecond:hover{background-color:#f2f2f2;color:#6c8419;font-family:Verdana, Arial, Helvetica, sans-serif;  }


a.menuleft:link{float:left;text-decoration:none;color:#656565;padding:6px 4px;font-size:10px;font-family:Verdana;width:220px;border-top:solid 1px #eee;margin:0px 5px;}
a.menuleft:visited{float:left;text-decoration:none;color:#656565;padding:6px 4px;font-size:10px;font-family:Verdana;width:220px;border-top:solid 1px #eee;margin:0px 5px;}
a.menuleft:active{float:left; text-decoration:none; color:#656565; padding:6px 4px; font-size:10px; font-family:Verdana; width:220px; border-top:solid 1px #eee; margin:0px 5px;}
a.menuleft:hover{background-color:#f2f2f2;color:#454545;font-family:Verdana, Arial, Helvetica, sans-serif;  }
  
.flotante{	width:500px;	height:50px;	background:#000;	z-index:100;	filter:alpha(opacity=65);	position: absolute;
	float:left;	left: -1px;	top: 139px;	color:#fff;	font-family:Verdana, Geneva, sans-serif;	font-size:11px;}

.flotante2{width:500px; height:50px; background:#000; z-index:100; filter:alpha(opacity=65); position: absolute; float:left; left: -1px; top: 139px;color:#fff;font-family:Verdana, Geneva, sans-serif;font-size:11px;}
.flotante3{width:500px; height:50px; background:#000; z-index:100; filter:alpha(opacity=65); position: absolute; float:left; left: -1px; top: 139px;color:#fff;font-family:Verdana, Geneva, sans-serif;font-size:11px;}



#headleft{background-color:#f2f2f2;width:230px;height:302px;border:solid 1px #ddd; border-left:0px;border-right:0px;float:left;margin-left:10px;margin-right:10px;}
#head{background-color:#f2f2f2;width:1000px;height:370px;border:solid 0px #ddd;border-left:0px;border-right:0px;float:left;;margin-left:10px;margin-right:10px;}
#head_m{background-color:#f2f2f2;width:1000px;height:320px;border:solid 0px #ddd;border-left:0px;border-right:0px;float:right;;margin-left:10px;margin-right:10px;}
.head_bot{width:1000px;height:30px;background-image:url(../images/menu_repeat.jpg);float:left;margin-left:10px;background-repeat:repeat-x;}

#headline{background-color:#06C;width:1000px;height:25px;border:solid 0px #f2f2f2;background-position:center;float:left;}
#headlast{background-color:#e6e3c9;background-image:url(../../10/css/headlasts.jpg);width:1000px;height:180px;border:solid 0px #f2f2f2;background-position:center;float:left;font-family:Verdana, Geneva, sans-serif;}
.leftheadl{background-color:none;width:494px;height:235px;border:solid 0px #f2f2f2;float:left;color:#777;
font-family:Verdana, Geneva, sans-serif;font-size:10px;text-indent:10pt;}
.t_np{color:#9c8156; line-height:10px;margin-top:13px;margin-bottom:0px;margin-left:15px;}
.t_di{color:#62533f;line-height:10px;margin-top:3px;margin-bottom:3px;margin-left:15px;}
.t_nd{color:#50412e;line-height:10px;margin-top:3px;margin-bottom:3px;margin-left:15px;}
.t_left{color:#707070;font-family:Verdana, Geneva, sans-serif;font-size:11px;margin-left:10px;margin-right:10px;}
.t_azul{color:#164c71;font-family:Verdana, Geneva, sans-serif;font-size:16px;margin-left:10px;margin-right:10px;}
.t_verde{color:#3c5d2e;font-family:Verdana, Geneva, sans-serif;font-size:14px;margin-left:10px;margin-right:10px;font-weight:bold;}

.t_nar{color:#F90;font-family:Verdana, Geneva, sans-serif;font-size:14px;margin-left:10px;margin-right:10px;font-weight:bold;}

.hrlineab{margin-left:10px;margin-right:10px;border:solid 1px #ccc;border-top:0px;border-left:0px;border-right:0px;margin-top:8px;}

.hrlinea{margin-left:10px;margin-right:10px;border:inset 1px #ddd;border-top:0px;border-left:0px;border-right:0px;margin-top:8px;}

.rightheadl{background-color:none;width:490px;height:235px;border:solid 1px #333;float:left;color:#777;
font-family:Verdana, Geneva, sans-serif;font-size:10px;text-indent:10pt;border-top:0px;border-right:0px;border-bottom:0px;}

#body{background-color:#f2f2f2;width:1000px;height:auto;border:solid 0px #252525;background-position:center;border-left:0px;border-right:0px;margin-left:10px;margin-right:10px;}

#menu{width:998px;height:40px;background:#f2f2f2; background-image:url(../images/msenu_rep.jpg);background-repeat:repeat-x;border: solid 1px #ddd;float:left;margin-left:10px;padding-top:8px;}
#menu p{font-family:Verdana, Geneva, sans-serif;font-size:11px;color:#6a5945;margin:0px 20px 0px 5px;float:left;}
/*#menu a:visited{text-decoration:none;font-family:Verdana, Geneva, sans-serif;font-size:12px;color:#6a5945;font-weight:bold;}*/

#menu a:visited{text-decoration:none;font-family:Verdana, Geneva, sans-serif;font-size:14px;color:#858585;}
#menu a:link{text-decoration:none;font-family:Verdana, Geneva, sans-serif;font-size:14px;color:#858585;}
#menu a:active{text-decoration:none;font-family:Verdana, Geneva, sans-serif;font-size:14px;color:#858585;}
#menu a:hover{text-decoration:none;font-family:Verdana, Geneva, sans-serif;font-size:14px;color:#656565;}

#menu a.home:visited{text-decoration:none;background-image:url(../../esp/images/menu_home.jpg);background-repeat:no-repeat;font-family:Verdana, Geneva, sans-serif;font-size:14px;color:#858585;padding:3px 0px 4px 35px;}
#menu a.home:link{text-decoration:none;background-image:url(../../esp/images/menu_home.jpg);background-repeat:no-repeat;font-family:Verdana, Geneva, sans-serif;font-size:14px;color:#858585;padding:3px 0px 4px 35px;}
#menu a.home:active{text-decoration:none;background-image:url(../../esp/images/menu_home.jpg);background-repeat:no-repeat;font-family:Verdana, Geneva, sans-serif;font-size:14px;color:#858585;padding:3px 0px 4px 35px;}
#menu a.home:hover{text-decoration:none;background-image:url(../../esp/images/menu_home2.jpg);background-repeat:no-repeat;font-family:Verdana, Geneva, sans-serif;font-size:14px;color:#656565;padding:3px 0px 4px 35px;}

#menu a.skype:visited{text-decoration:none;background-image:url(../../esp/images/menu_skype.jpg);background-repeat:no-repeat;font-family:Verdana, Geneva, sans-serif;font-size:14px;color:#858585;padding:4px 0px 4px 35px;}
#menu a.skype:link{text-decoration:none;background-image:url(../../esp/images/menu_skype.jpg);background-repeat:no-repeat;font-family:Verdana, Geneva, sans-serif;font-size:14px;color:#858585;padding:4px 0px 4px 35px;}
#menu a.skype:active{text-decoration:none;background-image:url(../../esp/images/menu_skype.jpg);background-repeat:no-repeat;font-family:Verdana, Geneva, sans-serif;font-size:14px;color:#858585;padding:4px 0px 4px 35px;}
#menu a.skype:hover{text-decoration:none;background-image:url(../../esp/images/menu_skype2.jpg);background-repeat:no-repeat;font-family:Verdana, Geneva, sans-serif;font-size:14px;color:#656565;padding:4px 0px 4px 35px;}

#menu a.contact:visited{text-decoration:none;background-image:url(../../esp/images/menu_contact.jpg);background-repeat:no-repeat;font-family:Verdana, Geneva, sans-serif;font-size:14px;color:#858585;padding:4px 0px 4px 35px;}
#menu a.contact:link{text-decoration:none;background-image:url(../../esp/images/menu_contact.jpg);background-repeat:no-repeat;font-family:Verdana, Geneva, sans-serif;font-size:14px;color:#858585;padding:4px 0px 4px 35px;}
#menu a.contact:active{text-decoration:none;background-image:url(../../esp/images/menu_contact.jpg);background-repeat:no-repeat;font-family:Verdana, Geneva, sans-serif;font-size:14px;color:#858585;padding:4px 0px 4px 35px;}
#menu a.contact:hover{text-decoration:none;background-image:url(../../esp/images/menu_contact2.jpg);background-repeat:no-repeat;font-family:Verdana, Geneva, sans-serif;font-size:14px;color:#656565;padding:4px 0px 4px 35px;}

#menu a.review:visited{text-decoration:none;background-image:url(../../eng/images/menu_tripadvisor.jpg);background-repeat:no-repeat;font-family:Verdana, Geneva, sans-serif;font-size:14px;color:#858585;padding:4px 0px 4px 35px;}
#menu a.review:link{text-decoration:none;background-image:url(../../eng/images/menu_tripadvisor.jpg);background-repeat:no-repeat;font-family:Verdana, Geneva, sans-serif;font-size:14px;color:#858585;padding:4px 0px 4px 35px;}
#menu a.review:active{text-decoration:none;background-image:url(../../eng/images/menu_tripadvisor.jpg);background-repeat:no-repeat;font-family:Verdana, Geneva, sans-serif;font-size:14px;color:#858585;padding:4px 0px 4px 35px;}
#menu a.review:hover{text-decoration:none;background-image:url(../../eng/images/menu_tripadvisor.jpg);background-repeat:no-repeat;font-family:Verdana, Geneva, sans-serif;font-size:14px;color:#656565;padding:4px 0px 4px 35px;}





#menu a.similar:visited{text-decoration:none;background-image:url(../../esp/images/menu_contact.jpg);background-repeat:no-repeat;font-family:Verdana, Geneva, sans-serif;font-size:14px;color:#858585;padding:4px 0px 4px 35px;}
#menu a.similar:link{text-decoration:none;background-image:url(../../esp/images/menu_contact.jpg);background-repeat:no-repeat;font-family:Verdana, Geneva, sans-serif;font-size:14px;color:#858585;padding:4px 0px 4px 35px;}
#menu a.similar:active{text-decoration:none;background-image:url(../../esp/images/menu_contact.jpg);background-repeat:no-repeat;font-family:Verdana, Geneva, sans-serif;font-size:14px;color:#858585;padding:4px 0px 4px 35px;}
#menu a.similar:hover{text-decoration:none;background-images:url(../../esp/images/menu_contact2.jpg);background-repeat:no-repeat;font-family:Verdana, Geneva, sans-serif;font-size:14px;color:#656565;padding:4px 0px 4px 35px;}



#menua{width:998px;height:35px;background:#d9d9d9; background-image:url(../images/menu_rep.jpg);background-repeat:repeat-x;border: solid 1px #ddd;float:left;margin-left:10px;}
#menua p{font-family:Verdana, Geneva, sans-serif;font-size:11px;color:#6a5945;margin:0px 20px 0px 5px;font-weight:bold;float:left;margin-top:10px;}
a.menu:visited{text-decoration:none;font-family:Verdana, Geneva, sans-serif;font-size:11px;color:#6a5945;font-weight:bold;}
a.menu:link{text-decoration:none;font-family:Verdana, Geneva, sans-serif;font-size:11px;color:#6a5945;font-weight:bold;}
a.menu:active{text-decoration:none;font-family:Verdana, Geneva, sans-serif;font-size:11px;color:#6a5945;font-weight:bold;}
a.menu:hover{text-decoration:none;font-family:Verdana, Geneva, sans-serif;font-size:11px;color:#6a5945;font-weight:bold;}


#izq{background-color:#fff;width:244px;height:auto;border:solid 1px #ddd;background-position:center;border-top:0px;border-bottom:0px;float:left;}
#cen{background-color:#FFF;width:484px;height:auto;border:dashed 0px #fff;background-position:center;border-top:0px;border-bottom:0px;float:left;}
/*#der{background-color:#fff;width:245px;height:auto;border:solid 0px #f2f2f2;float:left;border-right:1px solid #CCC; background-image:url(../../menupax_bg.gif);}*/

.price_out{width:auto;margin-top:15px;}
.prices{background:#f9f9f9 url(../images/a_price_tours.jpg);background-repeat:no-repeat;width:229px;height:69px;color:#f9f9f9;font-size:37px;font-weight:bold;padding:0px;float:left;margin-right:35px;margin-left:100px;font-family:"Times New Roman", Times, serif;}

#der{background-color:#f9f9f9;width:245px;height:auto;border:solid 0px #f2f2f2;float:left;border-right:1px solid #CCC; background-image:url(../../menusax_bg.gif);}

/*.img_der{margin:4px 0px 3px 4px;border: solid 1px #888;}*/
.img_der{margin:1px 1px 3px 1px;border: solid 0px #888;}
.text_map{font-family:Verdana, Geneva, sans-serif;font-size:10px;margin-left:5px;margin-top:15px;margin-bottom:0px;color:#880000;font-weight:bold;}
.img_map{margin-left:3px;margin-right:auto;float:left;border: solid 1px #f9f9f9;}
.rates{background:#fff url(../images/der_price.jpg);border:solid 0px #ddd;width:238px;margin-left:4px;margin-right:0px;margin-top:20px;float:left;}
.rates p{font-family:"Times New Roman", Times, serif;font-size:40px;color:#fff;margin:35px 5px 0px 70px;}

.price{background-image:url(../images/price.jpg);background-repeat:no-repeat;margin-left:5px;margin-top:10px;width:236px;height:70px;float:left;}

.price p{font-family:'Times New Roman', Times, serif;font-size:32px;margin-left:50px;margin-top:15px;color:#fff;}

.gtop{background:#350404;border:solid 1px #ddd;width:243px;height:286px;margin-left:auto;margin-right:auto;margin-top:5px;}
.gtop p{font-family:Verdana, Geneva, sans-serif;font-size:10px;color:#f9f9f9;margin:2px 5px;}
/*.gall{background:#350404;border:solid 1px #ddd;width:243px;height:286px;margin-left:auto;margin-right:auto;margin-top:35px;}*/
.gall{background:#251912;border:solid 0px #7B0F0F;width:235px;height:270px;margin-left:auto;margin-right:auto;margin-top:45px;}
.gall p{font-family:Verdana, Geneva, sans-serif;font-size:10px;color:#f9f9f9;margin:2px 5px;}
.der_a{background-color:#7b674e;width:280px;height:auto;border:solid 0px #f2f2f2;background-position:center;border-left:0px;border-right:0px;float:left;border-collapse:collapse;}
.der_b{background-color:#df8616;width:300px;height:auto;border:solid 0px #f2f2f2;background-position:center;border-left:0px;border-right:0px;float:left;border-collapse:collapse;}
.izq_c{background-color:#df8616;width:100%;height:auto;border:solid 0px #f2f2f2;background-position:center;border-left:0px;border-right:0px;float:left;border-collapse:collapse;}
#body_all{width:999px;background:#fff;height:auto;float:left;border-right:solid 1px #ddd;border-left:solid 1px #ddd;}
.text_prog{font-family:Verdana, Geneva, sans-serif;font-size:16px;color:#800;font-weight:bold;border-bottom:solid 1px #CCC;margin:0px 10px;background-image:url(../images/vinieta.png);background-position:left;background-repeat:no-repeat;padding:10px 60px;}
.text_proga{font-family:Verdana, Geneva, sans-serif;font-size:16px;color:#369;font-weight:bold;border-bottom:solid 1px #CCC;margin:0px 10px;background-image:url(../images/vinieta.png);background-position:left;background-repeat:no-repeat;padding:10px 60px;}
.box_p{background-image:url(../images/box_big.jpg);background-repeat:no-repeat;width:978px;height:205px;margin-left:10px;margin-top:10px;margin-bottom:10px;padding-top:8px;float:left;}
.p_box{margin-top:0px;font-family:Verdana, Geneva, sans-serif;font-size:15px;margin-left:40px;font-weight:bold;color:#235778;}

.name_pack{width:100%;height:40px;}
.name_pack p{font-family:Verdana, Geneva, sans-serif;font-size:16px;color:#369;margin-left:10px;font-weight:bold;}
.packages{background:#eee;width:980px;height:auto;border:solid 1px #ddd;margin-left:8px;}
.pack_box{background:#fff url(../images/box_pack.jpg);background-repeat:no-repeat;width:310px;height:130px;border:solid 1px ddd;margin:15px 0px 5px 10px;float:left;}
.pack_box a:visited{text-decoration:none;font-family:Verdana, Geneva, sans-serif;font-size:10px;color:#678a13;font-weight:bold;}
.pack_box a:link{text-decoration:none;font-family:Verdana, Geneva, sans-serif;font-size:10px;color:#678a13;font-weight:bold;}
.pack_box a:active{text-decoration:none;font-family:Verdana, Geneva, sans-serif;font-size:10px;color:#678a13;font-weight:bold;}
.pack_box a:hover{text-decoration:none;font-family:Verdana, Geneva, sans-serif;font-size:10px;color:#678a13;font-weight:bold;}

.pack_box p{font-family:Verdana, Geneva, sans-serif;font-size:10px;color:#858585;margin:5px 2px 0px 5px;}


#izq_center{width:752px;background:#fff;background-image:url(../images/point.jpg);height:auto;float:left;border-right:solid 1px #ddd;border-left:solid 1px #ddd;}
.name_prog{font-family:Geneva, sans-serif;font-size:32px;color:#36C;margin:0px 8px;margin-top:25px;border-bottom:solid 1px #ccc;}

.name_fast{font-family:Geneva, sans-serif;font-size:22px;color:#36C;margin:0px 8px;margin-top:25px;border-bottom:solid 1px #ccc;font-style:italic;}
.duration_prog{font-family:Verdana, Geneva, sans-serif;font-size:11px;margin:0px 8px 0px 8px;color:#C60;text-align:justify;line-height:15px;}
.descrip{font-family:Verdana, Geneva, sans-serif;font-size:16px;color:#36C;margin:0px 8px;margin-top:15px;border-bottom:solid 1px #ccc;}
.text_day{font-family:Verdana, Geneva, sans-serif;font-size:12px;margin:20px 8px 15px 8px;color:#36C;text-align:justify;line-height:15px;font-weight:bold;border-bottom:solid 1px #eee; }
.img_day{float:left;margin: 10px 15px 0px 8px;}
.text_des{font-family:Verdana, Geneva, sans-serif;font-size:10px;margin:5px 8px 0px 8px;color:#666;text-align:justify;line-height:15px;}
.text_descrip{font-family:Verdana, Geneva, sans-serif;font-size:12px;margin:5px 8px 0px 8px;color:#666;text-align:justify;line-height:18px;}
.text_hot{color:#C60}

a.linkh:visited{text-decoration:none;font-family:Verdana, Geneva, sans-serif;font-size:10px;color:#C60; }
a.linkh:link{text-decoration:none;font-family:Verdana, Geneva, sans-serif;font-size:10px;color:#C60; }
a.linkh:active{text-decoration:none;font-family:Verdana, Geneva, sans-serif;font-size:10px;color:#C60; }
a.linkh:hover{text-decoration:none;font-family:Verdana, Geneva, sans-serif;font-size:10px;color:#990000; }

.text_include{font-family:Verdana, Geneva, sans-serif;font-size:10px;margin:10px 8px 0px 20px;color:#770000;text-align:justify;line-height:15px;font-weight:bold;}

.text_vinieta{font-family:Verdana, Geneva, sans-serif;font-size:10px;margin:5px 8px 0px 60px;color:#666;text-align:justify;line-height:15px;}
ul{font-family:Verdana, Geneva, sans-serif;font-size:10px;margin:5px 8px 0px 0px;color:#666;text-align:justify;line-height:15px;}
ul li{font-family:Verdana, Geneva, sans-serif;font-size:10px;color:#666;text-align:justify;line-height:15px; list-style-image:url(../images/vineta.jpg);}

#pie{background-color:#202020;background:url(../images/foott.jpg);width:1000px;height:232px;border:solid 1px #f2f2f2;background-position:bottom;border-left:0px;border-right:0px;clear:both;margin-left:10px;margin-right:10px;}


.box_menuleft{width:auto;margin-left:0px;margin-right:0px;color:#656565;padding:0px;border-style:solid;border-color:#ccc;border-width:0px;background:#266814;font-size:10px;text-align:justify;}
	
a.boxl:link{display:block;float:none;text-decoration: none;color:#858585;;background-color:none;padding:15px 10px;border: 0px solid #ddd;border-left:0px; border-top:0px;font-size:11pt;font-family:Verdana, Arial, Helvetica, sans-serif;border: dashed 1px #ddd;border-top:0px;border-left:0px;border-right:0px;}
	
a.boxl:visited{display:block;float:none;text-decoration: none;color:#858585;background-color:none;padding:15px 10px;border: 0px solid #ddd;border-left:0px; border-top:0px;font-size:11pt;font-family:Verdana, Arial, Helvetica, sans-serif;border: dashed 1px #ddd;border-top:0px;border-left:0px;border-right:0px;}
	
a.boxl:active{display:block;float:none;text-decoration: none;color:#858585;	background-color:none;padding:15px 5px;border: 0px solid #ddd;border-left:0px; border-top:0px;font-size:11pt;font-family:Verdana, Arial, Helvetica, sans-serif;border: dashed 1px #ddd;border-top:0px;border-left:0px;border-right:0px;}

a.boxl:hover{float:none;background-color:#fbbc58;color:#454545;font-family:Verdana, Arial, Helvetica, sans-serif;background-image:url(../../10/css/images/menu_r2.jpg);background-repeat:repeat-x;background-position:bottom;border: dashed 1px #ddd;border-top:0px;border-left:0px;border-right:0px; }
	
a.paquetes:link{font-size:12px;text-decoration: none;border:solid 0px #ddd;color:#036; line-height:14px;margin-top:13px;margin-bottom:0px;margin-left:0px;}
a.paquetes:visited{font-size:12px;text-decoration: none;border:solid 0px #ddd;color:#069; line-height:14px;margin-top:13px;margin-bottom:0px;margin-left:0px;}
a.paquetes:active{font-size:12px;text-decoration: none;border: solid 0px #ddd;color:#069; line-height:14px;margin-top:13px;margin-bottom:0px;margin-left:0px;}
a.paquetes:hover{text-decoration:none;color:#069;border: solid 0px #ddd;}

	.part1{font-style:italic;font-family:Verdana, Geneva, sans-serif;font-size:20px;color:#F90;margin-top:15px;margin-bottom:6px;line-height:20px;}
	.part2{font-style:italic;font-family:Verdana, Geneva, sans-serif;font-size:20px;color:#2B611E;margin-top:15px;margin-bottom:6px;line-height:20px;}
	.part3{font-style:italic;font-family:Verdana, Geneva, sans-serif;font-size:20px;color:#F90;margin-top:15px;margin-bottom:6px;line-height:20px;}	
	
	
	
