@charset "utf-8";
/* CSS Document */
	
	body {
	background-color: #660000;
	margin-top: 0px;
	background-image: url(images/fond.jpg);
	background-repeat: repeat-y;
	background-position: center;
		}
	
	#frame {
	width:793px;
	margin-right:auto;
	margin-left:auto;
	background-color: #FFFFFF;
	height: auto;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
	margin-top: 0px;
	top: 0px;
	left: auto;
	right: auto;
	background-position: center 350px;
	background-repeat: no-repeat;
	background-image: url(images/bgbody.jpg);
		}
#frame #contentcenter .tableros ul {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	line-height: 16px;
}
		
	#contentleft {
	width:40px;
	padding:0px;
	float:left;
	height: 600px;
		}
	
	#contentcenter {
	width:713px;
	padding:0px;
	float:left;
	height: auto;
		}
	
	#contentright {
	width:40px;
	padding:0px;
	float:left;
	height: 600px;
		}
	
	#contentheader {
	height: 350px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #990000;
	position: relative;
}
.tableros {
	background-color: #FFFFFF;
	padding: 10px;
	width: 600px;
	text-align: left;
	height: auto;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	color: #999999;
	background-image: url(assets/h2-bullet.gif);
	background-repeat: no-repeat;
	background-position: left center;
	font-size: 14px;
	font-variant: normal;
	padding-left: 5px;
}
		
	
	#contentright p { font-size:10px}
	#footer {
	background-color: #330000;
	width: 784px;
	font-size: 10px;
	padding: 4px;
	border: 2px none #CCCCCC;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	clear: both;
	left: auto;
	right: auto;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 82px;
	color: #FFFFFF;
	background-image: url(assets/bg_footer.jpg);
}
#footer .futer {
}
h1 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color: #454545;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	font-size: 14px;
  
	margin-left: 28px;
	 
	 
}
p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	margin-right: 10px;
	margin-left: 10px;
	line-height: 16px;
}
.div1_1 {
	background-color: #00CC00;
	width: 440px;
	height: 100px;
	clear: both;
	margin-top: 1px;
	margin-bottom: 1px;
}
.div3_1 {
	float: left;
	height: 50px;
	width: 220px;
	background-color: #FFCC00;
}
.div4_1 {
	background-color: #0099FF;
	height: 50px;
	width: 100px;
}
.div2_1 {
	background-color: #FF0000;
	height: 100px;
	width: 220px;
	float: left;
}
.sub_fotos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	text-align: center;
	letter-spacing: 1px;
}

    .menu4 {
	width: 192px;
	position: absolute;
	left: 538px;
	top: 211px;
	list-style-type: none;
	border: thick solid #631717;
    }
#invisible {
	clear: both;
	width: 90%;
	visibility: hidden;
}
#contenedor_menu4 {
	width: 192px;
	position: absolute;
	left: 544px;
	top: 201px;
	background-color: #5B1309;
	padding: 10px;
	float: none;
}
    .menu4 ul {
	padding: 0;
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
    }
    .menu4 li {
	float: none;
	width: 100%;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E7B47A;
	padding: 0;
	text-align: center;
    }
	

* html .menu4 li a{ /*IE only. Actual menu width minus left padding of A element (10px) */
width: 100px;
}
.flotante {
	background-color: #333333;
	overflow: visible;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	text-align: center;
	height: 18px;
}
    .menu4 a {
	width: 100%;
	text-decoration: none;
	color: #E6A94F;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #39170F;
	display: block;
    }
    .menu4 a:hover {
	background-image: url(assets/rolloverdown.gif);
	color: #FFFFCC;
    }
.tableros a:link {
	color: #990000;
}
.tablacolor {
	background-color: #ECEBDD;
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	height: auto;
	overflow: visible;
	padding-top: 10px;
	padding-right: 2px;
	padding-bottom: 10px;
	padding-left: 2px;
}
.tableros a:visited {
	color: #990000;
}
.tableros a:hover {
	color: #FF8A00;
}
.tableros a:active {
	color: #FFFF99;
}
.style1 {color: #FFFFFF}
.style2 {color: #51260B}
.glossymenu{
	list-style-type: none;
	margin: 5px 0;
	padding: 0;
	width: 170px;
	border: thick solid #631717;
	position: absolute;
	left: 530px;
	top: 399px;
	background-color: #631717;
}

.glossymenu li a{
	color: #E6A94F;
	display: block;
	width: auto;
	padding-left: 10px;
	text-decoration: none;
	background-color: #39170F;
	padding-top: 1px;
	padding-right: 0;
	padding-bottom: 1px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E6A94F;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}


* html .glossymenu li a{ /*IE only. Actual menu width minus left padding of A element (10px) */
	width: 160px;
}

.glossymenu li a:visited, .glossymenu li a:active{
}

.glossymenu li a:hover{
	background-color: #39170F;
	color: #FFFFCC;
}
