@charset "utf-8";
/* CSS Document */

body{background:#f5f5f5}
#contenedor{background:#f5f5f5;width:672px;margin-left:auto;margin-right:auto;}
#caja{background:#fafafa;width:670px;height:auto;border:solid 1px #ccc;margin-left:auto;margin-right:auto; }
#caja p{font-family:Verdana, Geneva, sans-serif;font-size:10px;color:#666;text-align:justify;margin-left:8px;}
#hotelname{font-family:verdana;font-size:16px;font-weight:bold;color:#C63;}
#hoteldireccion{font-family:verdana;font-size:11px;color:#555;}
.subtitulo{background:#eee;border: solid 1px #ccc;height:35px;background-position:bottom;border-left:0px;border-right:0px;}

.namesubtitulo{background:#f9f9f9;border: solid 1px #ddd;height:auto;background-position:bottom;border-bottom:0px;width:25%;margin-left:2.5%;margin-right:70%;float:left;margin-top:12px ;font-family:Verdana, Geneva, sans-serif;font-size:10px;color:#666;height:20px;padding-top:3px;}

#boximage{background:#f9f9f9;border: solid 1px #ccc;height:auto;background-position:bottom;width:306px;margin-left:auto;margin-right:auto;float:left;margin:0px 13px ;font-family:Verdana, Geneva, sans-serif;font-size:10px;color:#666;}

#boxdescrip{background:#f9f9f9;border: solid 1px #ddd;height:auto;background-position:bottom;border-bottom:0px;border-top:0px;border-left:0px;border-right:0px;width:45%;margin-left:auto;margin-right:auto;float:left;margin:0px 16px ;font-family:Verdana, Geneva, sans-serif;font-size:10px;color:#666;}

#boxtopdes{background:#f9f9f9;border: solid 2px #ccc;height:25px;background-position:bottom;border-top:0px;border-left:0px;border-right:0px;width:45%;margin-left:auto;margin-right:auto;float:left;margin:16px 16px 0px 16px;}

a.top:link{color:#555;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;text-decoration:none;margin-left:3px;}
a.top:visited{color:#555;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;text-decoration:none;margin-left:3px;}
a.top:active{color:#555;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;text-decoration:none;margin-left:3px;}
a.top:hover{color:#222;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;text-decoration:none;margin-left:3px;}

#boxtop{background:none;float:right;text-align:right;width:100%;}