body{background-color:#f9f9f9;text-align:center;margin:0px;background-image:url(points.jpg);}
#contenedor{background:#f9f9f9;width:798px;height:auto;border:1px solid #ddd;text-align:center;margin-left:auto;margin-right:auto;}

#menusup{background-color:#f9f9f9;background-image:url(head.jpg);width:798px;height:100px;text-align:right;background-repeat:no-repeat;margin:0px;}.menusupp{background-color:#f3f3f3; background-image:url(menu1.jpg);width:389px;height:26px;color:#103a7a;float:right;font-family:verdana;font-size:10px;color:#757575;}

#menu{background:#f9f9f9;width:798px;height:auto;text-align:right;float:left;margin-bottom:10px;font-family:Verdana, Geneva, sans-serif;font-size:10px;color:#f2f2f2;}

.menud{background-image:url(box_menu.jpg);background-repeat:no-repeat;width:180px;height:34px;color:#f2f2f2;float:right;margin:0px 8px;text-align:left;}
.mtext{margin-left:28px;font-weight:bold;font-size:11px;margin-top:9px;}
#head{background-color:#454545;width:798px;height:260px;background-image:url(headp2.jpg);float:left;border:solid 0px #ddd;}

#body{background-color:#fff;width:798px;height:auto;float:left;font-family:Verdana, Geneva, sans-serif;font-size:10px;color:#757575;border:solid 0px #ddd;}
#izq{background-color:#fff;width:256px;height:160px;float:left;margin: 10px 4px;text-align:left;}
.izq_b{background-color:#f9f9f9;background-image:url(box_a.jpg);width:256px;height:156px;padding:0px;color:#f2f2f2}

#cen{background-color:#fff;width:256px;height:160px;float:left;margin: 10px 4px;text-align:justify;}
.cen_b{background-color:#f9f9f9;background-image:url(box_izq.jpg);width:256px;height:156px;}

#der{background-color:#fff;width:256px;height:160px;float:left;margin: 10px 4px;text-align:left;}
.der_b{background-color:#f9f9f9;background-image:url(box_izq.jpg);width:256px;height:156px;}

a.vuelos:link{text-decoration:none;color:#2D3F60;margin-left:10px;margin-top:7px;margin-bottom:0px;font-size:11px;}
a.vuelos:active{text-decoration:none;color:#2D3F60;margin-left:10px;margin-top:7px;margin-bottom:0px;font-size:11px;}
a.vuelos:visited{text-decoration:none;color:#2D3F60;margin-left:10px;margin-top:7px;margin-bottom:0px;font-size:11px;}
a.vuelos:hover{text-decoration:none;color:#2D3F60;margin-left:10px;margin-top:7px;margin-bottom:0px;font-size:11px;}

a.bottom:link{text-decoration:none;margin-left:0px;font-weight:bold;font-size:11px;margin-top:9px;font-size:11;color:#f2f2f2}
a.bottom:active{text-decoration:none;margin-left:0px;font-weight:bold;font-size:11px;margin-top:9px;font-size:11px;color:#f2f2f2}
a.bottom:visited{text-decoration:none;margin-left:0px;font-weight:bold;font-size:11px;margin-top:9px;font-size:11px;color:#f2f2f2}
a.bottom:hover{text-decoration:none;margin-left:0px;font-weight:bold;font-size:11px;margin-top:9px;font-size:11px;color:#fff}

a.enlac:link{text-decoration:none;color:#2D3F60;margin-left:4px;margin-top:7px;margin-bottom:0px;font-size:10px;}
a.enlac:active{text-decoration:none;color:#2D3F60;margin-left:4px;margin-top:7px;margin-bottom:0px;font-size:10px;}
a.enlac:visited{text-decoration:none;color:#2D3F60;margin-left:4px;margin-top:7px;margin-bottom:0px;font-size:10px;}
a.enlac:hover{text-decoration:none;color:#2D3F60;margin-left:4px;margin-top:7px;margin-bottom:0px;font-size:10px;}


#contenedorbox{background:#fff;width:791px;height:auto;border:solid 0px #ddd;}



#pie{background-color:#fff;width:798px;height:45px;clear:both;}
