@charset "utf-8";
/* CSS Document */
	
	body {
	background-color: #f2f2f2;
	margin-top: 0px;
	background-image:url(images/fonsdo.jpg);
	background-repeat:repeat;
	background-position:top;
	text-align:center;}
	
	#frame {
	width:793px;
	height:100%;
	margin-right:auto;
	margin-left:auto;
	background-color:#eee;
	border: solid 1px #ccc;
	background-position:center;
	}
#frame #contentcenter .tableros ul {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	line-height: 16px;}
	
	#contentleft {
	width:40px;
	padding:0px;
	float:left;
	height: 600px;}
	
	.redtext{
	margin-left:20px;
	margin-top:0px;
	text-align:left;
	margin-right:30px;
	color:#C00;
	font-weight:bold;
	margin-bottom:3px
}
	.redtextbig{
	margin-left:20px;
	margin-top:0px;
	text-align:center;
	margin-right:30px;
	color:#C00;
	font-weight:bold;
	margin-bottom:3px;
	font-size:18px;
}
	
	#contentcenter {
	width:593px;
	padding:0px;
	float:left;
	height: auto;
	background-image:url(images/boxcenter.jpg);
	background-position:left;
	background-repeat:repeat-y;
	background-color:#f9f9f9;
	border: solid 0px #ddd;}
a.box:link{color:#454545;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;text-decoration:none;font-weight:bold;margin-left:10px;}
a.box:visited{color:#454545;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;text-decoration:none;font-weight:bold;margin-left:10px;}
a.box:active{color:#454545;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;text-decoration:none;font-weight:bold;margin-left:10px;}
a.box:hover{color:#454545;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;text-decoration:none;font-weight:bold;margin-left:10px;}
	
.presenthoteles{color:#656565;width:556px;height:159px;margin:20px 0px 10px 18px;float:left;background:#fff url(../hoteles_presentacion.jpg);background-repeat:no-repeat;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;}
		
#leftcont{width:auto;height:auto;margin:0px;padding:0px;background-color:none;}
.boxder{background-color:#f5f5f5;background-image:url(images/boxss.jpg);background-repeat:repeat-x;background-position:bottom;width:90%;height:100px;border: 1px solid #eee;float:left;margin:0px 0px 0px 15px;text-align:left;padding:10px 15px;border-top:0px;}

.boxderb{background-color:#fff;background-image:url(images/boxss.jpg);background-repeat:repeat-x;background-position:bottom;width:90%;height:100px;border: 1px solid #eee;float:left;margin:0px 0px 0px 15px;text-align:left;padding:10px 15px;border-top:0px;}

.boxtopder{background-color:#fff;background-image:url(../box_hoteles_second.jpg);background-position:top;width:550px;height:auto;border: 0px solid #ccc;float:left;margin:0px 5px 10px 20px;text-align:left;background-repeat:inherit;background-repeat:repeat-x;}
		
.boxderselect{background-color:#fff;background-image:url(images/boxs.jpg);background-position:bottom;width:550px;height:auto;border: 1px solid #ddd;float:left;margin:10px 5px 10px 20px;text-align:left;background-repeat:inherit;background-repeat:repeat-x;}
.boxvertical{background-color:#fff;background-image:url(images/boxs.jpg);background-position:bottom;width:160px;height:auto;border: 1px dashed #969696;float:left;margin:10px 5px 10px 22px;text-align:left;background-repeat:inherit;background-repeat:repeat-x;height:auto;}
.bdescrip{background:none;width:160px;height:auto;float:left;margin:0px 15px 0px 20px;}

.btop{background-color:#f9f9f9;background-image:url(images/btop.jpg);background-repeat:no-repeat;width:160px;height:28px;border:solid 0px #ddd;margin:0px;padding:0px;float:left;color:#e9e9e9;font-family:Verdana, Geneva, sans-serif;font-size:10px;font-weight:bold;padding-top:0px;}
.bcen{background-color:#f9f9f9;background-image:url(images/bcen.jpg);background-repeat:repeat-y;width:160px;height:auto;border:solid 0px #ddd;margin:0px;padding:0px;float:left}
.bbot{background-color:#f9f9f9;background-image:url(images/bbot.jpg);background-repeat:no-repeat;width:160px;height:35px;border:solid 0px #ddd;margin:0px;padding:0px;float:left}

.boxg_top{width:555px;height:29px;background-image:url(images/b_topg.jpg);background-color:#e9e9e9;margin-left:20px;border: solid 0px #ddd;border-bottom:0px;float:left;text-align:left;}
.boxg_cen{background-color:#f9f9f9;width:555px;background-image:url(images/b_ceng.jpg);background-repeat:repeat-y;height:auto;border: solid 0px #770000;margin-left:20px;float:left;border-left:0px; border-right:0px;text-align:justify;}
.boxg_bot{width:555px;height:13px;background-color:#e9e9e9;margin-left:20px;float:left;background-image:url(images/b_botg.jpg);background-position:bottom;}

.hotelr{font-size:12px;font-family:Verdana, Geneva, sans-serif;font-weight:bold;color:#353535;margin-left:20px;}
.des_top{background-color:#f9f9f9;background-image:url(images/top_des.jpg);background-repeat:no-repeat;width:550px;height:28px;border:solid 0px #ddd;margin:0px 15px;padding:0px;}
.des_cen{background-color:#f9f9f9;background-image:url(images/cen_des.jpg);background-repeat:repeat-y;width:550px;height:auto;border:solid 0px #ddd;margin:0px 15px;padding:0px;text-align:justify;font-size:9px;}
.des_bot{background-color:#f9f9f9;background-image:url(images/bot_des.jpg);background-repeat:no-repeat;width:550px;height:13px;border:solid 0px #ddd;margin:0px 15px;padding:0px;}

.binfotop{background-color:#f9f9f9;background-image:url(images/a_top.jpg);background-repeat:no-repeat;width:550px;height:10px;border:solid 0px #ddd;margin:0px 15px;padding:0px;}
.binfocen{background-color:#f9f9f9;background-image:url(images/a_cen.jpg);background-repeat:repeat-y;width:550px;height:auto;border:solid 0px #ddd;margin:0px 15px;padding:0px;text-align:justify;}
.binfobot{background-color:#f9f9f9;background-image:url(images/a_bot.jpg);background-repeat:no-repeat;width:550px;height:12px;border:solid 0px #ddd;margin:0px 15px;padding:0px;}

.bdleft{background:none;;width:140px;color:#454545;font-family:Verdana, Geneva, sans-serif;font-size:9px;padding:2px;text-align:justify;float:left;border:dashed 0px #ddd;padding-top:7px;}

.bdright{background:none;width:395px;color:#454545;font-family:Verdana, Geneva, sans-serif;font-size:9px;padding:2px;text-align:justify;float:left;border: dashed 1px #ddd;border-top:0px;border-left:1px;border-right:0px;padding:7px 0px;}

.bdleft2{background:none;;width:140px;color:#454545;font-family:Verdana, Geneva, sans-serif;font-size:9px;padding:2px;text-align:justify;float:left;border:dashed 0px #ddd;padding-top:7px;}

.bdright2{background:none;width:395px;color:#454545;font-family:Verdana, Geneva, sans-serif;font-size:9px;padding:2px;text-align:justify;float:left;border: dashed 1px #ddd;border-top:0px;border-left:1px;border-right:0px;padding:7px 0px;}

#frame #contentcenter #leftcont .boxvertical p strong {
	color: #674025;
	text-align: center;
}
.preciohoteles {
	font-family: Verdana, Geneva, sans-serif;
	color: #f9f9f9;
	font-weight: bold;
	text-align: center;
	font-size: 14px;
}
.textdescrip {
	font-family: Verdana, Geneva, sans-serif;
	color: #900;
	font-weight: bold;
	text-align: left;
	font-size: 13px;
}

.galeriaf{background-image:url(../box_gallery_hotelss.jpg);width:555px;height:461px;background-repeat:no-repeat;margin-left:auto;margin-right:auto;text-align:center;}
	
	.boxcont{background-color:#f9f9f9;width:550px;height:140px;border: 1px solid #ddd;float:left;margin:10px 5px 10px 20px;}
	.boxlef{width:260px;height:160px;border: 0px double #ddd;float:left;margin:17px 5px 17px 20px;background-image:url(images/boxrd.jpg);background-repeat:repeat-x; background-position:bottom;}
		
	.boxt{ 	font-size:10px;	line-height:12px;	margin:2px 10px;	text-align:left;}
	.boxtht{font-size:10px;	line-height:14px;	margin:10px 8px 2px 20px;	text-align:justify;	color:#444444;}
	.boxth{font-size:10px;line-height:12px;margin:2px 8px;}

#der{width:200px;padding:0px;float:left;height:auto;background-color:#e9e9e9;}
	
	.box_x_box{background:#880000;color:#656565;padding:0px;border-style:solid;border-color:#ccc;border-width:0px;background:none;font-size:10px;text-align:justify;}
	
	a.boxl:link{display:block;float:none;text-decoration: none;color:#f2f2f2;
	background-color:#680e0e;padding:15px 5px;border: 0px solid #ddd;border-left:0px; 
	border-top:0px;font-size:10pt;font-family:Verdana, Arial, Helvetica, sans-serif;
	background-image:url(images/menu_ra.jpg);background-repeat:repeat-x;background-position:bottom;}
	
	a.boxl:visited{display:block;float:none;text-decoration: none;color:#f2f2f2;
	background-color:#680e0e;padding:15px 5px;border: 0px solid #ddd;border-left:0px; 
	border-top:0px;font-size:10pt;font-family:Verdana, Arial, Helvetica, sans-serif;
	background-image:url(images/menu_ra.jpg);background-repeat:repeat-x;background-position:bottom}
	
	a.boxl:active{display:block;float:none;text-decoration: none;color:#f2f2f2;
	background-color:#680e0e;padding:15px 5px;border: 0px solid #ddd;border-left:0px; 
	border-top:0px;	font-size:10pt;font-family:Verdana, Arial, Helvetica, sans-serif;
	background-image:url(images/menu_ra.jpg);background-repeat:repeat-x;background-position:bottom}

	a.boxl:hover{float:none;background-color:#510909;color:#fff;font-family:Verdana, Arial, Helvetica, sans-serif;
	background-image:url(images/menu_ra2.jpg);background-repeat:repeat-x;background-position:bottom }
	
	/*	a.boxl:link{display:block;float:none;text-decoration: none;color:#757575;
	background-color:#f9f9f9;padding:3px 5px;border: 1px solid #ddd;border-left:0px; 
	border-top:0px;font-size:10pt;font-family:Verdana, Arial, Helvetica, sans-serif;}/*/

	a.boxl2:link{display:block;float:none;text-decoration: none;color:#fff;background-color:#680e0e;padding:8px 5px;border: 0px solid #ddd;border-left:0px; border-top:0px;font-size:10pt;font-family:Verdana, Arial, Helvetica, sans-serif;margin-top:10px;}
	
	a.boxl2:visited{display:block;float:none;text-decoration: none;color:#fff;background-color:#680e0e;padding:8px 5px;border: 0px solid #ddd;border-left:0px; border-top:0px;font-size:10pt;font-family:Verdana, Arial, Helvetica, sans-serif;margin-top:10px;}
	
	a.boxl2:active{display:block;float:none;text-decoration: none;color:#fff;background-color:#680e0e;padding:8px 5px;border: 0px solid #ddd;border-left:0px; border-top:0px;font-size:10pt;font-family:Verdana, Arial, Helvetica, sans-serif;margin-top:10px;}

	a.boxl2:hover{background-color:#510909;color:#ffcc00;font-family:Verdana, Arial, Helvetica, sans-serif;}

.nomh{color:#113F84;margin-top:10px;font-size:16px;margin-bottom:0px;font-weight:bold;margin-left:10px;}
.hotelesen{font-size:12px;font-weight:bold;color:#336633;margin:7px 5px;line-height:25px;}

.hotelesinde{font-size:20px;font-weight:bold;color:#CC0000;margin:3px 5px;line-height:25px;margin-left:20px;}
.hoteles{font-size:12px;font-weight:bold;color:#36C;margin:3px 5px 3px 10px;line-height:25px; }

.hclass{background-color:#f9f9f9;color:#036;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:16px;text-transform:uppercase;font-weight:bold;border-bottom:0px solid #ddd;}

.imgstyle{width:115px;height:86px;float:right;margin:4px;border:double 1px #ccc;}

.language{float:right;background-color:#660000;background-image:url(images/titul.jpg);background-repeat:repeat-x;color:#656565;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:9px;font-weight:bold;width:99.9%;height:35px;padding-top:5px;border:solid 0px #ddd;text-align:right;}

.languagea{float:right;background-color:#660000;background-repeat:repeat-x;color:#656565;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:9px;font-weight:bold;width:99.9%;height:35px;padding-top:5px;border:solid 0px #ddd;text-align:right;}

#submenu{float:left;background-color:#252525;background-repeat:repeat-x;color:#656565;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:9px;font-weight:bold;width:100%;height:35px;padding-top:5px;border:solid 0px #ddd;text-align:right;}

.language_verde{float:right;background-color:#003300;background-image:url(images/titul_v.jpg);background-repeat:repeat-x;color:#ccc;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:9px;font-weight:bold;width:99.9%;height:35px;padding-top:5px;border:solid 0px #ddd;text-align:right;}

.language_3{float:right;background-color:#000;background-image:url(images/repeat_menu.jpg);background-repeat:repeat-x;color:#ccc;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:9px;font-weight:bold;width:99.9%;height:35px;padding-top:5px;border:solid 0px #ddd;text-align:right;}

.language_4{float:right;background-color:#fff;background-image:url(images/repeat_menu4.jpg);background-repeat:repeat-x;color:#ccc;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:9px;font-weight:bold;width:99.9%;height:35px;padding-top:5px;border:solid 0px #ddd;text-align:right;}
.language_5{float:right;background-color:#fff;background-image:url(images/repeat_menu5.jpg);background-repeat:repeat-x;color:#ccc;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:9px;font-weight:bold;width:99.9%;height:35px;padding-top:5px;border:solid 0px #ddd;text-align:right;}
 
	a img{border:0px solid #ddd;}
	
	#contentright {
	width:200px;
	padding:0px;
	float:left;
	height: 600px;
		}
.titulo{background-color:#660000;height:35px;background-image:url(images/titul.jpg);background-repeat:repeat-x;padding-top:5px;}
.tituloa{background-color:#660000;height:35px;background-repeat:repeat-x;padding-top:5px;}

.titulo_verde{background-color:#fff;height:35px;background-image:url(images/titul_v.jpg);background-repeat:repeat-x;padding-top:5px;}
.titulo_3{background-color:#fff;height:35px;background-image:url(images/repeat_menu.jpg);background-repeat:repeat-x;padding-top:5px;}
.titulo_4{background-color:#fff;height:35px;background-image:url(images/repeat_menu4.jpg);background-repeat:repeat-x;padding-top:5px;}
.titulo_5{background-color:#fff;height:35px;background-image:url(images/repeat_menu5.jpg);background-repeat:repeat-x;padding-top:5px;}
	#contentright .titutlo p{color:#454545;font-size:20px;font-wieght:bold;font-family:Verdana, Arial, Helvetica, sans-serif;}
	#contentheader {
	height: 350px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #fff;
	position: relative;}
#contentheader2 {
	height: 350px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #fff;
	position: relative;}
	#contentheader3 {
	height: 315px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #fff;
	position: relative;}
#contentright .menuright{width:auto;height:auto;color:#f9f9f9;}
 a.menur:link{text-decoration:none;height:20px;color:#454545;width:200px;}
 a.menur:visited{text-decoration:none;height:20px;color:#454545;width:200px;}
 a.menur:active{text-decoration:none;height:20px;color:#454545;width:200px;}
 a.menur:hover{text-decoration:none;height:20px;color:#660000;width:200px;}

.tableros {
	background-color: #FFFFFF;
	padding: 5px;
	width: 533px;
	text-align: left;
	height: auto;
	margin-left:20px;
 
 }
h2 {
	font-family: Arial, Helvetica, sans-serif;
	color: #999999;
	background-image: url(assets/h2-bullet.gif);
	background-repeat: no-repeat;
	background-position: left center;
	font-size: 14px;
	font-variant: normal;
	padding-left: 5px;
	text-align:left;
	margin-left:17px;
}
		
	
 
	#footer {
	background-color:#303030;
	width: 784px;
	font-size: 10px;
	padding: 4px;
	border: 2px none #CCCCCC;
	margin-right:0;
	margin-left:0;
	text-align: center;
	clear: both;
	left: auto;
	right: auto;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 82px;
	color: #ddd;
	
}
#footer .futer {background:none;color:#ccc;}
h1 { 
	color: #656565;
	font-size: 12px;
	text-align:left;
	margin-left: 25px;
 	font-family:Verdana, Arial, Helvetica, sans-serif;
}
p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
	margin-right: 10px;
	margin-left: 10px;
	line-height: 16px;
}
.div1_1 {
	background-color: #00CC00;
	width: 440px;
	height: 100px;
	clear: both;
	margin-top: 1px;
	margin-bottom: 1px;
}
.div3_1 {
	float: left;
	height: 50px;
	width: 220px;
	background-color: #FFCC00;
}
.div4_1 {
	background-color: #0099FF;
	height: 50px;
	width: 100px;
}
.div2_1 {
	background-color: #FF0000;
	height: 100px;
	width: 220px;
	float: left;
}
.sub_fotos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	text-align: center;
	letter-spacing: 1px;
}

    .menu4 {
	width: 50%;
	clear: both;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
    }
#invisible {
	clear: both;
	width: 90%;
	visibility: hidden;
}
#contenedor_menu4 {
	width: 190px;
	clear: both;
	position: absolute;
	left: 458px;
	top: 452px;
	height: 81px;
	background-color: #5B1309;
	padding: 10px;
}
    .menu4 ul {
	padding: 0;
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
    }
    .menu4 li {
	float: none;
	width: 100%;
	margin-right: 0px;
	text-align: center;
	margin-top: 1;
	margin-bottom: 0;
	margin-left: 0;
	left: auto;
	right: auto;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E7B47A;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
    }
.flotante {
	background-color: #333333;
	overflow: visible;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	text-align: center;
	height: 18px;
}
    .menu4 a {
	display: block;
	width: 100%;
	text-decoration: none;
	color: #E6A94F;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #39170F;
    }
    .menu4 a:hover {
	color: #FFFFCC;
	background-color: #631717;
    }
.tablacolor {
	background-color: #F9F9F9;
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	height: auto;
	overflow: visible;
	padding-top: 5px;
	padding-right: 2px;
	padding-bottom: 5px;
	padding-left: 2px;

	border: medium solid #FF8A00;
}
.style1 {color: #FFFFFF}
.style2 {color: #51260B}
.glossymenu{
	list-style-type: none;
	padding: 0;
	border: thick solid #631717;
	position: relative;
	background-color: #631717;
	margin-top: 5px;
	margin-right: 0;
	margin-bottom: 5px;
	margin-left: 0;
}

.glossymenu li a{
	color: #E6A94F;
	display: block;
	width: 100%;
	padding-left: 0px;
	text-decoration: none;
	background-color: #39170F;
	padding-top: 1px;
	padding-right: 0;
	padding-bottom: 1px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E6A94F;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

* html .glossymenu li a{ /*IE only. Actual menu width minus left padding of A element (10px) */
	width: 100%;
}

.glossymenu li a:visited, .glossymenu li a:active{
}

.glossymenu li a:hover{
	background-color: #65291B;
	color: #FFFFCC;
}
