body{background-color:#454545;text-align:center;margin:0px;background-image:url(../../eng/bgall3.jpg);background-position:top;background-repeat:repeat;}
#contenedor{background:#f9f9f9;width:798px;height:auto;border:1px solid #ddd;text-align:center;margin-left:auto;margin-right:auto;margin-bottom:10px;margin-top:0px;padding:0px;}

/*#top{background:#f9f9f9;width:796px;height:auto;text-align:right;float:left;border: solid 1px #ddd; border-top:0px;border-bottom:0px;border-collapse:collapse;}*/
#top{background-color:#113460;color:#656565;font-family:verdana;font-size:9px;text-align:right;margin-top:20px;margin-bottom:0px;height:auto;width:798px;
float:left; line-height:normal;height:18px;border-bottom:1px #f9f9f9 solid;background-image:url(images/top.png);background-repeat:no-repeat;background-position:right;}

#bot{background-color:#113460;color:#656565;font-family:verdana;font-size:9px;text-align:right;margin-top:0px;margin-bottom:0px;height:auto;width:798px;
float:left; line-height:normal;height:18px;border-bottom:1px #f9f9f9 solid;background-image:url(images/top.png);background-repeat:no-repeat;background-position:right;}
/*#menusup{background-color:#f9f9f9;background-image:url(../private_car/hesad.jpg);width:auto;height:60px;text-align:right;background-repeat:no-repeat;margin:0px;border:solid 1px #ddd;border-bottom:0px;border-top:0px;}
*/
#menusup{background:#f9f9f9;width:796px;height:auto;text-align:right;float:left;border: solid 1px #ddd; border-top:0px;border-bottom:0px;font-family:Verdana, Geneva, sans-serif;font-size:10px;color:#CCC}
.box_menu{width:198px;height:100px;text-align:left;background-color:#f8f8f8;border: solid 1px #ddd;float:left;border-top:0px;border-bottom:0px;border-left:0px;color:#888;background-image:url(images/box_repeat.jpg);background-position:bottom;background-repeat:repeat-x;}

.menusupp{background-color:#f3f3f3;background-image:url(images/menu1.jpg);width:389px;height:26px;color:#103a7a;float:right;font-family:verdana;font-size:10px;color:#757575;}

#menu{background:#f9f9f9;width:796px;height:auto;text-align:right;float:left;border: solid 1px #ddd; border-top:0px;border-bottom:0px;}
.menud{background:none;width:auto;height:50px;color:#103a7a;float:right;margin:0px 4px;}

#head{background-color:#454545;width:798px;height:350px;background-image:url(#.jpg);float:left;border:solid 0px #ddd;}

#body{background-color:#fff;width:796px;height:auto;float:left;font-family:Verdana, Geneva, sans-serif;font-size:10px;color:#757575;border:solid 1px #e7e7e7;border-top:0px;border-bottom:0px;}

#cont{background-color:none;width:526px;height:auto;float:left;}

#izq{background-color:#fff;width:256px;height:auto;float:left;margin: 10px 4px 5px 4px;text-align:left;}
.izq_b{background-color:none;background-image:url(../../private_car/box_Stickets.jpg);width:256px;height:auto;padding:0px;color:#f2f2f2;background-repeat:no-repeat;float:left;}
.box_content{background-color:#f9f9f9;background-image:url(../../private_car/box_Stickets.jpg);width:245px;height:auto;padding:0px;color:#f2f2f2;background-repeat:no-repeat;float:left;margin:0px 2px 0px 5px;border-left:solid 10px #D98E2B;border-top:solid 1px #ccc;border-right:solid 1px #ccc;border-bottom:solid 1px #ccc;}



#izq_b{background-color:#113460;width:520px;height:auto;float:left;margin: 0px 2px 0px 4px;text-align:left;}
.izq_ba{background-color:none;background-image:url(../../private_car/box_Stickets.jpg);width:520px;height:auto;padding:0px;color:#f2f2f2;background-repeat:no-repeat;float:left;}
.izq_ttitul{background-color:#f9f9f9;background-image:url(images/b_titul.jpg);width:521px;height:25px;padding:0px;color:#656565;background-repeat:repeat-x;float:left;border: solid 0px #ddd;margin-left:4px;text-align:justify;margin-bottom:0px;border-bottom:0px}
.izq_conten{background-color:#f9f9f9;background-image:url(#);width:519px;height:auto;padding:0px;color:#656565;background-repeat:repeat-x;float:left;border: solid 1px #ddd;margin-left:4px;text-align:justify;margin-bottom:0px;border-bottom:0px}

.too_transfer{background-color:#f9f9f9;background-image:url(../eng/images/b_cusco.jpg);width:504px;height:115px;padding:0px;color:#656565;background-repeat:repeat-x;float:left;border: solid 0px #ddd;margin-left:6px;text-align:justify;margin-bottom:15px;background-position:bottom;border-top:0px;}

.too_transfer_a{background-color:#f9f9f9;background-image:url(../eng/images/b_arequipa.jpg);width:504px;height:115px;padding:0px;color:#656565;background-repeat:repeat-x;float:left;border: solid 0px #ddd;margin-left:6px;text-align:justify;margin-bottom:15px;background-position:bottom;border-top:0px;}

.too_transfer_b{background-color:#f9f9f9;background-image:url(../eng/images/b_juliaca.jpg);width:504px;height:115px;padding:0px;color:#656565;background-repeat:repeat-x;float:left;border: solid 0px #ddd;margin-left:6px;text-align:justify;margin-bottom:15px;background-position:bottom;border-top:0px;}

.too_transfer_c{background-color:#f9f9f9;background-image:url(../eng/images/b_trujillo.jpg);width:504px;height:115px;padding:0px;color:#656565;background-repeat:repeat-x;float:left;border: solid 0px #ddd;margin-left:6px;text-align:justify;margin-bottom:15px;background-position:bottom;border-top:0px;}


.izq_bc_t{background-color:#f9f9f9;background-image:url(images/box_repeat.jpg);width:520px;height:auto;padding:0px;color:#656565;background-repeat:repeat-x;float:left;border: solid 1px #ddd;margin-left:4px;text-align:justify;margin-bottom:15px;background-position:bottom;border-top:0px;}

.izq_text-a{background-color:#f9f9f9;background-image:url(images/box_text.jpg);width:505px;height:18px;padding:0px;color:#656565;background-repeat:no-repeat;float:left;border: solid 0px #ddd;margin-left:6px;text-align:justify;margin-bottom:0px;border-bottom:0px}

.izq_bc{background-color:#f9f9f9;background-image:url(images/box_repeat.jpg);width:503px;height:auto;padding:0px;color:#656565;background-repeat:repeat-x;float:left;border: solid 1px #ddd;margin-left:6px;text-align:justify;margin-bottom:15px;background-position:bottom;border-top:0px;}

#cen{
	background-color:none;
	width:256px;
	height:160px;
	float:left;
	margin: 10px 3px;
	text-align:justify;
	color: #0F466F;
}
.cen_b{background-color:#f9f9f9;background-image:url(images/box_izq.jpg);width:256px;height:156px;float:left;}

#der{background-color:#fff;width:256px;height:auto;float:left;margin: 5px 4px;text-align:left;}
.der_b{background-color:#FFF;background-image:url(../../private_car/boxd_izq.jpg);width:256px;height:auto;float:left;}
.der_c{background-color:#FFF;background-image:url(images/repeat.jpg);width:256px;height:auto;float:left;text-align:justify;}

a.vuelos:link{text-decoration:none;color:#2D3F60;margin-left:10px;margin-top:7px;margin-bottom:0px;font-size:11px;}
a.vuelos:active{text-decoration:none;color:#2D3F60;margin-left:10px;margin-top:7px;margin-bottom:0px;font-size:11px;}
a.vuelos:visited{text-decoration:none;color:#2D3F60;margin-left:10px;margin-top:7px;margin-bottom:0px;font-size:11px;}
a.vuelos:hover{text-decoration:none;color:#2D3F60;margin-left:10px;margin-top:7px;margin-bottom:0px;font-size:11px;}

a.enlac:link{text-decoration:none;color:#2D3F60;margin-left:4px;margin-top:7px;margin-bottom:0px;font-size:10px;}
a.enlac:active{text-decoration:none;color:#2D3F60;margin-left:4px;margin-top:7px;margin-bottom:0px;font-size:10px;}
a.enlac:visited{text-decoration:none;color:#2D3F60;margin-left:4px;margin-top:7px;margin-bottom:0px;font-size:10px;}
a.enlac:hover{text-decoration:none;color:#2D3F60;margin-left:4px;margin-top:7px;margin-bottom:0px;font-size:10px;}

#contenedorbox{background:#fff;width:791px;height:auto;border:solid 0px #ddd;}
#pie{background-color:none;width:798px;height:45px;clear:both;}
