	
	body {
	text-align:center;
	background-color: #000000;
	margin: 0px;
	background-image: url(bgall3.jpg);
		}
	
	#frame {
	width:798px;
	margin-right:auto;
	margin-left:auto;
	margin-top:0px;
	padding:0px;
	text-align:left;
	margin-bottom: 0px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-left-color: #CCCCCC;
	border-right-width: 1px;
	border-right-color: #CCCCCC;
	background-color: #fffdfa;}
	
	p,h1,pre {
		margin:0px 10px 10px 10px;
		}
		
	h1 {
	font-size:20px;
	font-family: Arial, Helvetica, sans-serif;
	color: #660000;
	font-weight: blod;
	text-transform: uppercase;
	width:87%;
	float:left;
	background-image: url(assets/flecha_de_titulo.gif);
	background-repeat: no-repeat;
	background-position: 3px top;
	padding-left: 45px;
	padding-top: 3px;
	padding-bottom: 3px;
		}
	/*	
	#contentheader h1 {
		font-size:14px;
		padding:0px;
		margin:0px;
		}
	*/
	

	

.contact{width:552px;height:121px;float:left;background:#fff url(box_contactos.jpg);font-family:verdana;font-size:11px;color:#f9f9f9;margin-left:10px;line-height:14px;}
.galeriafoto{width:550px;height:auto;float:left;background:url(../box_gallery.jpg);border: solid 0px #443726;text-align:center;margin-left:20px;border-left:0px;border-right:0px;font-family:verdana;font-size:11px;text-align:center;background-repeat:no-repeat;margin-top:10px;}

.contentright{background:#f9f9f9 url(../esp/point.jpg);border: solid 1px #ccc; width:560px;height:auto;margin:0px 0px 10px 15px;border-top:0px;float:left;font-family:verdana;font-size:10px;color:#555555;text-align:justify;}
.subtitul{background:#443726 url(../esp/a_box_repeat.jpg);height:25px;font-family:verdana;font-size:16px;color:#fff;text-align:center;font-weight:bold;padding-top:6px;width:560px;float:left;margin-left:15px;margin-top:10px;text-transform:uppercase;}

.text_redblod{color:#880000;font-family:verdana;font-size:10px;background:none;margin:2px 5px;border: double 1px #ddd;border-left:0px;border-right:0px;font-weight:bold;font-size:11px;padding:1px 0px;border-top:0px;}
/*.text_parrafo{width:auto;height:auto;}*/
.vinietas{
	list-style-image:url(assets/bullet_squarelist.gif);
	margin-top:5px;
	color:#555555;}
.lista_estandar {
	list-style-image:url(assets/bullet_squarelist.gif);
	margin-top:5px;
	color:#555555;}
}

.box_video_top{margin-left:auto;margin-right:auto;border:solid #ddd 0px;width:560px;background:#fff url(videos/images/box_video_top.jpg);background-repeat:no-repeat;height:42px;font-family:Verdana, Geneva, sans-serif;font-size:14px;font-weight:bold;}
.box_video_top p{margin-left:10px;margin-top:0px;clear:both;color:#252525;}

.box_video_cen{margin-left:auto;margin-right:auto;border:solid #ddd 0px;width:560px;background:#fff url(videos/images/box_video_center.jpg);background-repeat:no-repeat;height:464px;}	
.box_video_cen  p{color:#666;float:left;font-family:Verdana, Geneva, sans-serif;font-size:14px;margin-left:85px;margin-top:15px;font-weight:bold;}


.seeprice{float:left;width:90%;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;font-weight:bold;color:#333}

.price_out{width:auto;margin-top:15px;}
.price{background:#f9f9f9 url(a_price_tours.jpg);background-repeat:no-repeat;width:229px;height:69px;color:#f9f9f9;font-size:37px;font-weight:bold;padding:0px;float:left;margin-right:50px;margin-left:25px;font-family:"Times New Roman", Times, serif;}
.travelgroup{width:558px;height:110px;background:#f9f9f9 url(a_travel_group.jpg);background-repeat:no-repeat;margin-top:15px;border: solid 1px #ccc;border-bottom:0px;}
.coment{font-family:verdana;font-size:10px;color:#656565;text-align:justify;background:#f5f5f5;border: solid 1px #ccc;padding:5px;border-top:0px;}
.box_subtitulo{width:553px;height:42px;float:left;background:#fff url(box_tours_op.jpg);color:#f9f9f9;font-family:verdana;font-size:18px;font-weight:bold;margin:20px 10px 10px 10px;padding:9px 0px 0px 0px;text-align:center;background-repeat:no-repeat;text-transform:uppercase;}
.righttext{margin: 9px 20px 0px 200px;text-align:right;color:#333333;font-weight:bold;font-size:12px}
.righttext2{margin: 2px 20px 0px 200px;text-align:justify;}
.lefttext{margin: 9px 200px 0px 15px;text-align:left;color:#333333;font-weight:bold;font-size:12px}
.lefttext2{margin: 2px 200px 0px 15px;text-align:justify;}

#ladoizq{background:#660000 url(box_head_left.jpg);background-repeat:no-repeat;width:179px;height:100%;border: double 0px #660000;border-top:0px;border-left:0px;border-bottom:0px;color:#f9f9f9;font-weight:bold;font-family:verdana;font-size:12px;text-align:center;margin:0px;}

.boxbanners{background:#660000 url(../esp/box_head_left.jpg);background-repeat:no-repeat;width:179px;height:auto;border: double 0px #660000;border-top:0px;border-left:0px;border-bottom:0px;color:#f9f9f9;font-weight:bold;font-family:verdana;font-size:12px;text-align:center;margin:0px;}

.presentacion{color:#656565;width:577px;height:187px;margin:0px 0px 10px 8px;float:left;background:#fff url(../eng/a_box_presentation.jpg);background-repeat:no-repeat;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;}
.presentacion p{margin:22px 20px 0px 180px;text-align:justify;}

a.pack:link{text-decoration:none;background-image:url(a_point.jpg);background-repeat:no-repeat;background-position:left;width:120px;
font-family:verdana;font-size:10px;color:#333333;float:left;margin-top:6px;}
a.pack:active{text-decoration:none;background-image:url(a_point.jpg);background-repeat:no-repeat;background-position:left;width:120px;
font-family:verdana;font-size:10px;color:#333333;float:left;margin-top:6px;}
a.pack:visited{text-decoration:none;background-image:url(a_point.jpg);background-repeat:no-repeat;background-position:left;width:120px;
font-family:verdana;font-size:10px;color:#333333;float:left;margin-top:6px;}
a.pack:hover{text-decoration:none;background-image:url(a_point_a.jpg);background-repeat:no-repeat;background-position:left;width:120px;
font-family:verdana;font-size:10px;color:#454545;float:left;margin-top:6px;}
	
	#contentright p { font-size:10px}
#footer {clear:both;background:#660000;background-image:url(../esp/images/footer.jpg);background-repeat:no-repeat;color:#999;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;text-transform:uppercase;height:250px;padding-top:10px;
	text-align:center;margin-top:25px;border: double 0px #ccc;border-right:0px;border-left:0px;border-bottom:0px;margin-top:10px;}
	
	#footer_top {clear:both;background:#f9f9f9;background-image:url(#);background-repeat:no-repeat;color:#999;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;text-transform:uppercase;height:80px;padding-top:10px;
	text-align:center;margin-top:25px;border: double 1px #ccc;border-right:0px;border-left:0px;border-bottom:0px;margin-top:10px;}

.ga{margin:17px 10px 2px 10px;border: solid 1px #b5b5b5;}
.gb{margin:2px 10px 10px 10px;border: solid 1px #b5b5b5;}
.gaa{margin:17px 10px 10px 10px;border: double 3px #b5b5b5;}
.gba{margin:8px 10px 10px 10px;border: double 3px #b5b5b5;}


.gal{margin:16px 10px 2px 10px;border: solid 1px #b5b5b5;}
.gbl{margin:2px 10px 10px 10px;border: solid 1px #b5b5b5;}


.galtext{text-align:left;margin-left:50px;font-family:Verdana, Geneva, sans-serif;font-size:14px;margin-bottom:0px;margin-top:9px;color:#fff; letter-spacing:1.5px;}
    .menu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin-left: 3px;
    }
.paxsubtitulos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FF9900;
}

a.contactos:link{text-decoration:none;color:#ffcc00;margin-left:20px;margin-top:5px;margin-bottom:0px;}
a.contactos:active{text-decoration:none;color:#ffcc00;margin-left:20px;margin-top:5px;margin-bottom:0px;}
a.contactos:visited{text-decoration:none;color:#ffcc00;margin-left:20px;margin-top:5px;margin-bottom:0px;}
a.contactos:hover{text-decoration:none;color:#ffbb00;margin-left:20px;margin-top:5px;margin-bottom:0px;}
#frame .menu_contenedor .menupax img {
	margin-left: 10px;
}

    .menu ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    .menu li {
	float: none;
	width: 175px;
	background: #eee url(../none);
	text-align: left;
	margin-bottom: -1px;
    }
    .menu a {
	display: block;
	width: 93%;
	text-decoration: none;
	/*background-image: url(arriba.gif);*/
	background:#660000 url(arriba.gif);
	color: #FFFFFF;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 19px;
	padding-right: 0px;
    }
    .menu a:hover {
	/*background:  url(abajo.gif);*/
	text-decoration: none;
	background:#660000 url(abajo.gif);
    }
#menu_contenedor {
	float: left;
	width: 180px;
	margin:0px;
}
#page_content {
	height: auto;
	width: 578px;
	/*margin-left: 190px;*/
	float:left;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-left:8px;
}

.lista_estandar a {
	color: #FFFFFF;
	text-decoration: none;
}
.lista_estandar a:hover {
	color: #FFCC00;
	text-decoration: underline;
}
h3 {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}
#caja {
	width: 550px;
	margin-right: auto;
	margin-left: auto;
	color: #DAD8CB;
	padding-left: 10px;
	padding-top: 30px;
}
#titulo_caja {
	width: 550px;
	background-color: #666600;
}
.films {
	background-image: url(../assets/bg_films.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 30px;
}

.img_subtitulo {
	background-image: url(assets/bg_img_subtitulos.gif);
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 9px;
	padding-left: 10px;
}

#titulodemenu {
	text-align: center;
	height: 32px;
	width: 95%;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #006600;
	font-weight: bold;
	vertical-align: middle;
	padding: 8px 4px 0px 12px;
	background-color: #DBDCC7;
	background-image: url(assets/bg_titulodemenu1.jpg);
}
.invisible {
	visibility: hidden;
}

#titulodemenu3 {
	text-align: center;
	height: 32px;
	width: 95%;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #006600;
	background-image: url(assets/bg_titulodemenu3.jpg);
	font-weight: bold;
	vertical-align: middle;
	padding: 8px 4px 0px 12px;
}
#titulodemenu2 {
	text-align: center;
	height: 32px;
	width: 95%;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #006600;
	background-image: url(assets/bg_titulodemenu2.jpg);
	font-weight: bold;
	vertical-align: middle;
	padding: 8px 4px 0px 12px;
}
.span1 {
	background-image: url(assets/flecha_de_span.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 15px;
	font-weight: bold;
	color: #FF3300;
}
.span2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #FFFFFF;
}
.subtitulo_caja {
	background-color: #534200;
	width: 145px;
	float: left;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: center;
	font-size: 14px;
	vertical-align: middle;
	color: #FFEBBB;
}
.parrafo_caja {
	background-color: #5C592E;
	width: 385px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: dotted;
	border-bottom-style: dotted;
	border-top-color: #57412B;
	border-right-color: #57412B;
	border-bottom-color: #57412B;
	border-left-color: #57412B;
}
.img_borderwhite {
	border: 8px solid #FFFFFF;
	margin-right: 5px;
	margin-left: 5px;
}
.parrafo_cajabigger {
	width: 95%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: dotted;
	border-bottom-style: dotted;
	border-top-color: #57412B;
	border-right-color: #57412B;
	border-bottom-color: #57412B;
	border-left-color: #57412B;
	margin-right: 8px;
	margin-left: auto;
	color: #000000;
	background-color: #EDE6CB;
	margin-top: 20px;
}
#parrafo_caja {

	background-color: #5C592E;
	width: 385px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: dotted;
	border-bottom-style: dotted;
	border-top-color: #57412B;
	border-right-color: #57412B;
	border-bottom-color: #57412B;
	border-left-color: #57412B;
}
a:hover {
	color: #FFFFCC;
	text-decoration: none;
}
.link a:link {
	color: #FF3300;
	text-decoration: none;
}
.link a:hover {

	color: #FFFFCC;
	text-decoration: underline;
}
.menu_contenedor {

	float: left;
}
#titulodemenu4 {

	text-align: center;
	height: 32px;
	width: 95%;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #006600;
	background-image: url(assets/bg_titulodemenu4.jpg);
	font-weight: bold;
	vertical-align: middle;
	padding: 8px 4px 0px 12px;
}
#titulodemenu5 {

	text-align: center;
	height: 32px;
	width: 95%;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #006600;
	background-image: url(assets/bg_titulodemenu5.jpg);
	font-weight: bold;
	vertical-align: middle;
	padding: 8px 4px 0px 12px;
}
#titulodemenu6 {

	text-align: center;
	height: 32px;
	width: 95%;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #006600;
	background-image: url(assets/bg_titulodemenu7.jpg);
	font-weight: bold;
	vertical-align: middle;
	padding: 8px 4px 0px 12px;
}
.descripcion_imgs {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #57412B;
	border-right-color: #57412B;
	border-bottom-color: #57412B;
	border-left-color: #57412B;
	margin-right: auto;
	margin-left: auto;
	color: #000000;
	text-align: center;
}
.parrafo_intro {
	width: 70%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: dotted;
	border-bottom-style: dotted;
	border-top-color: #D1BAA3;
	border-right-color: #D1BAA3;
	border-bottom-color: #D1BAA3;
	border-left-color: #D1BAA3;
	margin-right: auto;
	margin-left: auto;
	color: #000000;
	background-color: #F1ECD8;
	text-align: justify;
	padding-right: 40px;
	padding-left: 40px;
	background-image: url(assets/bg_textointro.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.titulo_hoteles {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
}
.contactus {
	width: 50%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	color: #4A452F;
	background-color: #F1ECD8;
	text-align: center;
	padding-right: 40px;
	padding-left: 40px;
	background-image: url(assets/bg_textointro.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	font-weight: bold;
}
.bold_red {
	font-weight: bold;
	color: #81200F;
	font-size: 14px;
}
#frame #footer a:link {
	color: #fff;
	text-decoration: none;
}
#frame #footer a:visited {
	color: #fff;
	text-decoration: none;
}
#frame #footer a:hover {
	color: #fff;
	text-decoration: underline;
}
.bold_rednu {

	font-weight: bold;
	color: #81200F;
}
.contactusbiggie {
	font-size: 14px;
}
.contactusbiggie a {
	font-size: 14px;
	color: #68753C;
}
.contactusbiggie a:hover {

	font-size: 14px;
	color: #FF6600;
}
.paxnote {
	width: 70%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	color: #FFCC00;
	background-color: #333300;
	text-align: justify;
	padding-right: 40px;
	padding-left: 40px;
	font-weight: bold;
	border: thick ridge #FFFFFF;
}
.menupax {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin-left: 3px;
	color: #FFFFFF;
	white-space: normal;
	width: 179px;
	background-color: #81200F;
	background-image: url(../menupax_bg.gif);
}
.gallerylink {
	width: 60%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	color: #FFCC00;
	background-color: #333300;
	text-align: justify;
	padding-right: 40px;
	padding-left: 40px;
	font-weight: bold;
	text-decoration: none;
	border-top-width: thin;
	border-right-width: thick;
	border-bottom-width: thin;
	border-left-width: thick;
	border-top-style: ridge;
	border-bottom-style: ridge;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
}
#frame #page_content #caja .parrafo_cajabigger .faqsubtitulos {
	font-size: 18px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #003300;
}
.tours_en_peru_cuadros {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	background-color: #82200F;
	width: 100%;
	margin-top: 25px;
	margin-bottom: 25px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: dotted;
	border-bottom-style: dotted;
	border-top-color: #663300;
	border-right-color: #663300;
	border-bottom-color: #663300;
	border-left-color: #663300;
	position: relative;
	padding-top: 5px;
	padding-bottom: 10px;
	text-align: justify;
}
h4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #FF9900;
	font-weight: bold;
	text-align: center;
	background-color: #241711;
}

h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FAF8F1;
	text-transform: uppercase;
	background-color: #81200F;
	text-indent: 5px;
	white-space: normal;
	display: block;
}
