#mainCenter {
	height:100%;
}

a 			{ text-decoration: none; font-weight:normal;} 
a:hover		{ text-decoration: underline; }

.banner {
}

.banner .title{
	font-weight:bold;
}

.banner .date{
	font-size:0.9em;
	font-weight:bold;
}

.navigation{
	font-size:0.9em;
	font-weight:bold;
}
.thumbnail{
	font-size:0.9em;
}

#content {
	width:90%;
	font-size:9px;
	font-family:verdana, arial, helvetica;
	color: #333333;
	border-bottom:1px dotted #333333;
	padding-top:6px;
	padding-bottom:6px;
}

#content .header{
	font-size:9px;
	font-weight:bold;
	color: #333333;
}

#contentLast {
	width:90%;
	font-size:9px;
	font-family:verdana, arial, helvetica;
	color: #333333;
	padding-top:6px;
}

#contentLast .header{
	font-size:9px;
	font-weight:bold;
	color: #333333;
}